In [1]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from getpass import getpass
import numpy as np

In [2]:
# Loading the weather data from the databases
# Reading the data from our database
# Debugging with syntax from here:  https://stackoverflow.com/questions/23839656/sqlalchemy-no-password-supplied-error
password = getpass('Enter database password')
london_weather_df = pd.read_sql_table('london_weather_yyyy_mm', 
                                      f'postgresql://postgres:{password}@localhost/Final_Project_Travel')
nyc_weather_df = pd.read_sql_table('nyc_weather_yyyy_mm',
                                  f'postgresql://postgres:{password}@localhost/Final_Project_Travel')

Enter database password········

In [3]:
# Looking at the London weather
london_weather_df

,index,year,month_num,avg_high_temp_f,avg_low_temp_f,total_rainfall_inches,days_of_air_frost,total_sunshine_duration_hours
0,108,1957,1,47.66,36.86,1.555118,5,53.0
1,109,1957,2,48.20,37.22,2.748031,5,64.9
2,110,1957,3,57.02,42.26,1.000000,2,96.7
3,111,1957,4,57.56,41.36,0.224409,1,169.6
4,112,1957,5,61.16,43.70,0.838583,0,195.0
...,...,...,...,...,...,...,...,...
771,879,2021,4,55.58,37.22,0.283465,5,202.6
772,880,2021,5,61.70,44.96,3.330709,0,131.9
773,881,2021,6,72.50,55.94,3.472441,0,159.6
774,882,2021,7,75.56,58.82,2.409449,0,171.1
775,883,2021,8,71.42,56.12,1.661417,0,95.6

In [4]:
# Looking at the NYC weather
nyc_weather_df

,index,year,month_num,avg_high_temp_f,avg_low_temp_f,avg_total_precipitation_inches,avg_total_snowfall_inches
0,0,1948,1,31.2,19.6,4.74,15.3
1,1,1948,2,37.8,23.6,2.52,13.6
2,2,1948,3,50.6,33.5,3.51,4.8
3,3,1948,4,58.9,43.1,3.26,0.0
4,4,1948,5,67.6,52.8,7.58,0.0
...,...,...,...,...,...,...,...
879,879,2021,4,63.7,45.5,2.69,0.0
880,880,2021,5,71.7,54.0,4.36,0.0
881,881,2021,6,82.5,66.0,2.62,0.0
882,882,2021,7,83.0,69.0,11.09,0.0
883,883,2021,8,83.9,71.2,10.32,0.0

In [5]:
# Dropping the index columns
london_weather_df = london_weather_df.drop(columns=['index'], axis=1)
nyc_weather_df = nyc_weather_df.drop(columns=['index'], axis=1)

In [6]:
# Checking for null values
print(london_weather_df.isnull().sum())
print(nyc_weather_df.isnull().sum())

year                             0
month_num                        0
avg_high_temp_f                  0
avg_low_temp_f                   0
total_rainfall_inches            0
days_of_air_frost                0
total_sunshine_duration_hours    0
dtype: int64
year                              0
month_num                         0
avg_high_temp_f                   0
avg_low_temp_f                    0
avg_total_precipitation_inches    0
avg_total_snowfall_inches         0
dtype: int64

In [7]:
# Checking our datatypes
print(london_weather_df.dtypes)
print(nyc_weather_df.dtypes)

year                               int64
month_num                          int64
avg_high_temp_f                  float64
avg_low_temp_f                   float64
total_rainfall_inches            float64
days_of_air_frost                  int64
total_sunshine_duration_hours    float64
dtype: object
year                                int64
month_num                           int64
avg_high_temp_f                   float64
avg_low_temp_f                    float64
avg_total_precipitation_inches    float64
avg_total_snowfall_inches         float64
dtype: object

# Linear regression model avg high temp vs. year

In [8]:
# Looping through the months for both cities, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating cities list
cities = ['london', 'nyc']

# Creating empty list to hold the outputs of our model
high_temp_model_outputs = []

# Looping through each city
for city in cities:
    # Iterating through the months
    for i in range(1,13):
        # Splitting out the weather for that city and that month
        if city == 'london':
            city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]
        else:
            city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

        # Preparing the data for Scikit-learn library
        X = city_month_weather_df.year.values.reshape(-1,1)

        # Assigning the target variable
        y = city_month_weather_df.avg_high_temp_f

        # Creating the model from the class
        model = LinearRegression()
        
        # Splitting the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y)

        # Training the model
        model.fit(X_train, y_train)

        # Generating the predictions
        y_pred = model.predict(X_test)
        
        # Evaluating the performance
        mae = metrics.mean_absolute_error(y_test, y_pred)
        mse = metrics.mean_squared_error(y_test, y_pred)
        rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

        # Plotting and saving the predictions vs. the datapoints
        plt.scatter(X_train, y_train, color='blue', label='train')
        plt.scatter(X_test, y_test, color='green', label='test')
        plt.plot(X_test, y_pred, color='red', label='predict')
        plt.xlabel('year')
        plt.ylabel('avg high temp (F)')
        plt.legend()
        if city == 'london':
            plt.title('London ' + str(i) + ' avg high temps vs. model')
            plt.savefig('images/high_temp/london_'+ str(i) + '_avg_high_temps.png')
        else:
            plt.title('NYC ' + str(i) + ' avg high temps vs. model')
            plt.savefig('images/high_temp/nyc_'+ str(i) + '_avg_high_temps.png')
        # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
        plt.clf()

        # Viewing our coefficient and intercept
        #print(model.coef_)
        #print(model.intercept_)
        #print(f'{city} month = {i}')
        #print('---')

        # Adding the values to the list
        high_temp_model_outputs.append({
            'city': city,
            'month_num': i,
            'weather_factor': 'high_temp',
            'coef': model.coef_[0],
            'intercept': model.intercept_,
            'mae': mae,
            'mse': mse,
            'rmse': rmse
        })

# Creating a DataFrame from our results
high_temp_model_df = pd.DataFrame(high_temp_model_outputs)

# Adding the predictions to the high temp DataFrame
high_temp_model_df['2022_prediction_F'] = (2022 * high_temp_model_df['coef']) + high_temp_model_df['intercept']
high_temp_model_df['2023_prediction_F'] = (2023 * high_temp_model_df['coef']) + high_temp_model_df['intercept']

# # Formatting the columns
# high_temp_model_df['coef'] = high_temp_model_df['coef'].map('{:.2f}'.format)
# high_temp_model_df['intercept'] = high_temp_model_df['intercept'].map('{:.2f}'.format)
# high_temp_model_df['mae'] = high_temp_model_df['mae'].map('{:.2f}'.format)
# #high_temp_model_df['mse'] = high_temp_model_df['mse'].map('{:.2f}'.format)
# high_temp_model_df['rmse'] = high_temp_model_df['rmse'].map('{:.2f}'.format)
# high_temp_model_df['2022_prediction_F'] = high_temp_model_df['2022_prediction_F'].map('{:.2f}'.format)
# high_temp_model_df['2023_prediction_F'] = high_temp_model_df['2023_prediction_F'].map('{:.2f}'.format)

# Displaying the updated DataFrame
high_temp_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,rmse,2022_prediction_F,2023_prediction_F
0,london,1,high_temp,0.053895,-61.688374,2.607100,9.123005,3.020431,47.286999,47.340894
1,london,2,high_temp,0.053000,-59.081052,3.081385,13.840976,3.720346,48.085933,48.138933
2,london,3,high_temp,0.065913,-79.395570,2.195008,6.974991,2.641021,53.880911,53.946824
3,london,4,high_temp,0.077771,-97.646972,1.768585,6.079430,2.465650,59.606588,59.684360
4,london,5,high_temp,0.065289,-65.808772,2.161174,7.123796,2.669044,66.204601,66.269890
5,london,6,high_temp,0.024000,22.519776,2.669560,11.472457,3.387102,71.047495,71.071495
6,london,7,high_temp,0.079318,-84.059535,2.517711,8.182489,2.860505,76.321881,76.401199
7,london,8,high_temp,0.081156,-89.177832,3.057827,14.959751,3.867784,74.919945,75.001102
8,london,9,high_temp,0.046364,-24.648309,1.932512,6.339152,2.517767,69.100190,69.146554
9,london,10,high_temp,0.034151,-7.584486,1.863041,5.431080,2.330468,61.468199,61.502349
10,london,11,high_temp,0.054074,-55.953994,1.367303,3.141318,1.772376,53.382838,53.436912
11,london,12,high_temp,0.034593,-21.514707,2.576725,11.124118,3.335284,48.431577,48.466169
12,nyc,1,high_temp,-0.002179,42.787078,4.058724,22.096936,4.700738,38.380285,38.378105
13,nyc,2,high_temp,0.028757,-15.108279,3.181060,16.354356,4.044052,43.039152,43.067909
14,nyc,3,high_temp,0.044846,-39.108102,2.482058,10.167618,3.188670,51.570932,51.615778
15,nyc,4,high_temp,0.010292,40.908261,2.589986,9.158611,3.026320,61.718496,61.728788
16,nyc,5,high_temp,0.017786,36.257634,2.588684,8.808589,2.967927,72.220832,72.238618
17,nyc,6,high_temp,0.001410,77.432393,2.331765,7.699664,2.774827,80.283828,80.285238
18,nyc,7,high_temp,-0.003757,92.783092,1.827668,4.608038,2.146634,85.186708,85.182951
19,nyc,8,high_temp,-0.008063,99.635669,1.527757,3.336373,1.826574,83.332587,83.324525
20,nyc,9,high_temp,0.008731,59.052539,1.921338,4.943548,2.223409,76.705717,76.714448
21,nyc,10,high_temp,-0.008102,81.465199,2.190507,6.751021,2.598273,65.083370,65.075268
22,nyc,11,high_temp,0.022882,8.488166,2.659091,10.099820,3.178021,54.756345,54.779228
23,nyc,12,high_temp,0.064088,-83.528747,2.772487,11.948669,3.456685,46.056582,46.120669

# Linear regression model total precip/rainfall vs. year

In [9]:
# Looping through the months for both cities, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating cities list
cities = ['london', 'nyc']

# Creating empty list to hold the outputs of our model
total_rainfall_model_outputs = []

# Looping through each city
for city in cities:
    # Iterating through the months
    for i in range(1,13):
        # Splitting out the weather for that city and that month
        if city == 'london':
            city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]
        else:
            city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

        # Preparing the data for Scikit-learn library
        X = city_month_weather_df.year.values.reshape(-1,1)

        # Assigning the target variable
        if city == 'london':
            y = city_month_weather_df.total_rainfall_inches
        else:
            y = city_month_weather_df.avg_total_precipitation_inches

        # Creating the model from the class
        model = LinearRegression()
        
        # Splitting the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y)

        # Training the model
        model.fit(X_train, y_train)

        # Generating the predictions
        y_pred = model.predict(X_test)
        
        # Evaluating the performance
        mae = metrics.mean_absolute_error(y_test, y_pred)
        mse = metrics.mean_squared_error(y_test, y_pred)
        rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

        # Plotting and saving the predictions vs. the datapoints
        plt.scatter(X_train, y_train, color='blue', label='train')
        plt.scatter(X_test, y_test, color='green', label='test')
        plt.plot(X_test, y_pred, color='red', label='predict')
        plt.xlabel('year')
        plt.ylabel('total rainfall (inches)')
        plt.legend()
        if city == 'london':
            plt.title('London ' + str(i) + ' total rainfall vs. model')
            plt.savefig('images/rainfall/london_'+ str(i) + '_total_rainfall.png')
        else:
            plt.title('NYC ' + str(i) + ' total rainfall vs. model')
            plt.savefig('images/rainfall/nyc_'+ str(i) + '_total_rainfall.png')
        # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
        plt.clf()

        # Viewing our coefficient and intercept
        #print(model.coef_)
        #print(model.intercept_)
        #print(f'{city} month = {i}')
        #print('---')

        # Adding the values to the list
        total_rainfall_model_outputs.append({
            'city': city,
            'month_num': i,
            'weather_factor': 'rainfall',
            'coef': model.coef_[0],
            'intercept': model.intercept_,
            'mae': mae,
            'mse': mse,
            'rmse': rmse
        })
        
# Creating a DataFrame from our results
total_rainfall_model_df = pd.DataFrame(total_rainfall_model_outputs)

# Adding the predictions to the high temp DataFrame
total_rainfall_model_df['2022_prediction_inches'] = (2022 * total_rainfall_model_df['coef']) + total_rainfall_model_df['intercept']
total_rainfall_model_df['2023_prediction_inches'] = (2023 * total_rainfall_model_df['coef']) + total_rainfall_model_df['intercept']

# # Formatting the columns
# total_rainfall_model_df['coef'] = total_rainfall_model_df['coef'].map('{:.2f}'.format)
# total_rainfall_model_df['intercept'] = total_rainfall_model_df['intercept'].map('{:.2f}'.format)
# total_rainfall_model_df['mae'] = total_rainfall_model_df['mae'].map('{:.2f}'.format)
# #total_rainfall_model_df['mse'] = total_rainfall_model_df['mse'].map('{:.2f}'.format)
# total_rainfall_model_df['rmse'] = total_rainfall_model_df['rmse'].map('{:.2f}'.format)
# total_rainfall_model_df['2022_prediction_inches'] = total_rainfall_model_df['2022_prediction_inches'].map('{:.2f}'.format)
# total_rainfall_model_df['2023_prediction_inches'] = total_rainfall_model_df['2023_prediction_inches'].map('{:.2f}'.format)

# Displaying the updated DataFrame
total_rainfall_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,rmse,2022_prediction_inches,2023_prediction_inches
0,london,1,rainfall,0.011321,-20.215833,0.888901,1.171426,1.082324,2.674762,2.686083
1,london,2,rainfall,0.008911,-16.204151,0.756993,0.850469,0.922209,1.814773,1.823684
2,london,3,rainfall,-0.009969,21.463771,0.731690,0.851393,0.922710,1.306142,1.296172
3,london,4,rainfall,-0.005349,12.113513,1.029887,1.611563,1.269473,1.297712,1.292363
4,london,5,rainfall,-0.003273,8.339954,0.779160,0.947903,0.973603,1.722045,1.718772
5,london,6,rainfall,-0.004134,10.157766,1.282494,2.118979,1.455671,1.798960,1.794826
6,london,7,rainfall,-0.006445,14.677793,0.834002,0.963358,0.981508,1.646261,1.639816
7,london,8,rainfall,-0.005259,12.495878,0.850747,1.295717,1.138296,1.862974,1.857716
8,london,9,rainfall,-0.016789,35.571606,1.115197,1.866640,1.366250,1.623558,1.606768
9,london,10,rainfall,0.012535,-22.582050,1.145798,1.891547,1.375335,2.763317,2.775851
10,london,11,rainfall,0.010727,-19.005184,1.098099,2.140380,1.463004,2.684649,2.695376
11,london,12,rainfall,-0.001583,5.373797,0.882258,1.233113,1.110456,2.172897,2.171314
12,nyc,1,rainfall,0.008526,-13.229260,1.384033,2.372316,1.540232,4.010352,4.018878
13,nyc,2,rainfall,0.002936,-2.642213,1.225268,2.568176,1.602553,3.294252,3.297188
14,nyc,3,rainfall,0.005497,-6.752596,1.391360,4.105650,2.026240,4.361640,4.367137
15,nyc,4,rainfall,0.021868,-38.957391,1.658302,3.876427,1.968864,5.259654,5.281522
16,nyc,5,rainfall,0.017455,-30.677183,1.548584,5.867882,2.422371,4.616454,4.633909
17,nyc,6,rainfall,0.029605,-54.705336,1.150643,2.162638,1.470591,5.156295,5.185900
18,nyc,7,rainfall,0.031983,-59.236232,1.854556,6.364036,2.522704,5.432439,5.464421
19,nyc,8,rainfall,0.018477,-32.288852,1.750758,4.359782,2.088009,5.072118,5.090595
20,nyc,9,rainfall,0.004110,-4.545886,2.348159,8.917524,2.986222,3.765468,3.769579
21,nyc,10,rainfall,0.024649,-45.186509,1.461603,3.760715,1.939256,4.653004,4.677653
22,nyc,11,rainfall,-0.001269,6.374626,1.624375,6.073370,2.464421,3.809710,3.808441
23,nyc,12,rainfall,0.018817,-33.222077,1.454143,2.798346,1.672826,4.825233,4.844050

# Linear regression model NYC snowfall vs. Year

In [10]:
# Looping through the months for NYC, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating empty list to hold the outputs of our model
total_snowfall_model_outputs = []

# Iterating through the months
for i in range(1,13):
    # Splitting out the weather for NYC for each month
    city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

    # Preparing the data for Scikit-learn library
    X = city_month_weather_df.year.values.reshape(-1,1)

    # Assigning the target variable
    y = city_month_weather_df.avg_total_snowfall_inches

    # Creating the model from the class
    model = LinearRegression()

    # Splitting the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    # Training the model
    model.fit(X_train, y_train)

    # Generating the predictions
    y_pred = model.predict(X_test)

    # Evaluating the performance
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

    # Plotting and saving the predictions vs. the datapoints
    plt.scatter(X_train, y_train, color='blue', label='train')
    plt.scatter(X_test, y_test, color='green', label='test')
    plt.plot(X_test, y_pred, color='red', label='predict')
    plt.xlabel('year')
    plt.ylabel('total snowfall (inches)')
    plt.legend()
    plt.title('NYC ' + str(i) + ' total snowfall vs. model')
    plt.savefig('images/snowfall/nyc_'+ str(i) + '_total_snowfall.png')
    # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
    plt.clf()

    # Viewing our coefficient and intercept
    #print(model.coef_)
    #print(model.intercept_)
    #print(f'{city} month = {i}')
    #print('---')

    # Adding the values to the list
    total_snowfall_model_outputs.append({
        'city': 'NYC',
        'month_num': i,
        'weather_factor': 'snowfall',
        'coef': model.coef_[0],
        'intercept': model.intercept_,
        'mae': mae,
        'mse': mse,
        'rmse': rmse
    })

# Creating a DataFrame from our results
total_snowfall_model_df = pd.DataFrame(total_snowfall_model_outputs)

# Adding the predictions to the high temp DataFrame
total_snowfall_model_df['2022_prediction_inches'] = (2022 * total_snowfall_model_df['coef']) + total_snowfall_model_df['intercept']
total_snowfall_model_df['2023_prediction_inches'] = (2023 * total_snowfall_model_df['coef']) + total_snowfall_model_df['intercept']

# # Formatting the columns
# total_snowfall_model_df['coef'] = total_snowfall_model_df['coef'].map('{:.2f}'.format)
# total_snowfall_model_df['intercept'] = total_snowfall_model_df['intercept'].map('{:.2f}'.format)
# total_snowfall_model_df['mae'] = total_snowfall_model_df['mae'].map('{:.2f}'.format)
# #total_snowfall_model_df['mse'] = total_snowfall_model_df['mse'].map('{:.2f}'.format)
# total_snowfall_model_df['rmse'] = total_snowfall_model_df['rmse'].map('{:.2f}'.format)
# total_snowfall_model_df['2022_prediction_inches'] = total_snowfall_model_df['2022_prediction_inches'].map('{:.2f}'.format)
# total_snowfall_model_df['2023_prediction_inches'] = total_snowfall_model_df['2023_prediction_inches'].map('{:.2f}'.format)

# Displaying the updated DataFrame
total_snowfall_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,rmse,2022_prediction_inches,2023_prediction_inches
0,NYC,1,snowfall,0.059357,-110.178996,4.671309,26.302514,5.128598,9.841440,9.900798
1,NYC,2,snowfall,0.047322,-85.825215,7.818021,101.125525,10.056119,9.860835,9.908158
2,NYC,3,snowfall,-0.007425,19.216946,2.995493,16.657123,4.081314,4.202986,4.195561
3,NYC,4,snowfall,0.007545,-14.462294,0.754861,1.156862,1.075575,0.793704,0.801249
4,NYC,5,snowfall,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,NYC,6,snowfall,-0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,NYC,7,snowfall,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,NYC,8,snowfall,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,NYC,9,snowfall,-0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,NYC,10,snowfall,0.002959,-5.803867,0.086081,0.010461,0.102280,0.179353,0.182312
10,NYC,11,snowfall,0.005241,-10.064258,0.921043,2.724638,1.650648,0.533280,0.538521
11,NYC,12,snowfall,-0.008317,20.888504,4.562077,35.556600,5.962936,4.071141,4.062824

# Linear regression model London sunshine hours vs. Year

In [11]:
# Looping through the months for London, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating empty list to hold the outputs of our model
total_sunshine_model_outputs = []

# Iterating through the months
for i in range(1,13):
    # Splitting out the weather for London for each month
    city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]

    # Preparing the data for Scikit-learn library
    X = city_month_weather_df.year.values.reshape(-1,1)

    # Assigning the target variable
    y = city_month_weather_df.total_sunshine_duration_hours

    # Creating the model from the class
    model = LinearRegression()

    # Splitting the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    # Training the model
    model.fit(X_train, y_train)

    # Generating the predictions
    y_pred = model.predict(X_test)

    # Evaluating the performance
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

    # Plotting and saving the predictions vs. the datapoints
    plt.scatter(X_train, y_train, color='blue', label='train')
    plt.scatter(X_test, y_test, color='green', label='test')
    plt.plot(X_test, y_pred, color='red', label='predict')
    plt.xlabel('year')
    plt.ylabel('total sunshine (hours)')
    plt.legend()
    plt.title('London ' + str(i) + ' total sunshine vs. model')
    plt.savefig('images/sunshine/london_'+ str(i) + '_total_sunshine.png')
    # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
    plt.clf()

    # Viewing our coefficient and intercept
    #print(model.coef_)
    #print(model.intercept_)
    #print(f'{city} month = {i}')
    #print('---')

    # Adding the values to the list
    total_sunshine_model_outputs.append({
        'city': 'London',
        'month_num': i,
        'weather_factor': 'sunshine',
        'coef': model.coef_[0],
        'intercept': model.intercept_,
        'mae': mae,
        'mse': mse,
        'rmse': rmse
    })

# Creating a DataFrame from our results
total_sunshine_model_df = pd.DataFrame(total_sunshine_model_outputs)

# Adding the predictions to the high temp DataFrame
total_sunshine_model_df['2022_prediction_hours'] = (2022 * total_sunshine_model_df['coef']) + total_sunshine_model_df['intercept']
total_sunshine_model_df['2023_prediction_hours'] = (2023 * total_sunshine_model_df['coef']) + total_sunshine_model_df['intercept']

# # Formatting the columns
# total_sunshine_model_df['coef'] = total_sunshine_model_df['coef'].map('{:.2f}'.format)
# total_sunshine_model_df['intercept'] = total_sunshine_model_df['intercept'].map('{:.2f}'.format)
# total_sunshine_model_df['mae'] = total_sunshine_model_df['mae'].map('{:.2f}'.format)
# #total_sunshine_model_df['mse'] = total_sunshine_model_df['mse'].map('{:.2f}'.format)
# total_sunshine_model_df['rmse'] = total_sunshine_model_df['rmse'].map('{:.2f}'.format)
# total_sunshine_model_df['2022_prediction_hours'] = total_sunshine_model_df['2022_prediction_hours'].map('{:.2f}'.format)
# total_sunshine_model_df['2023_prediction_hours'] = total_sunshine_model_df['2023_prediction_hours'].map('{:.2f}'.format)

# Displaying the updated DataFrame
total_sunshine_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,rmse,2022_prediction_hours,2023_prediction_hours
0,London,1,sunshine,0.192177,-327.526587,10.941437,177.570140,13.325545,61.054533,61.246710
1,London,2,sunshine,0.462552,-847.888514,18.424757,491.555979,22.171062,87.392419,87.854972
2,London,3,sunshine,0.300074,-483.896743,29.508842,1376.578844,37.102275,122.852449,123.152522
3,London,4,sunshine,1.052509,-1932.263179,29.632143,1243.212420,35.259218,195.909567,196.962075
4,London,5,sunshine,0.113514,-35.615817,37.580576,2063.547137,45.426282,193.908960,194.022474
5,London,6,sunshine,-0.475346,1146.057882,31.768170,1361.100450,36.893095,184.909029,184.433684
6,London,7,sunshine,0.447835,-690.908560,41.530484,1968.658910,44.369572,214.614809,215.062644
7,London,8,sunshine,0.452409,-707.489493,36.084733,2311.739627,48.080554,207.280713,207.733121
8,London,9,sunshine,0.320180,-491.121536,22.814975,906.385119,30.106231,156.282250,156.602430
9,London,10,sunshine,-0.104522,317.836637,24.430843,849.853987,29.152255,106.492610,106.388087
10,London,11,sunshine,0.035634,-3.921835,14.710200,345.143787,18.578046,68.130796,68.166430
11,London,12,sunshine,0.234817,-418.279148,13.476447,241.241928,15.531965,56.521525,56.756343

In [12]:
# One high_temp model for each city with all months

# Creating empty list to hold the outputs of our model
combined_high_temp_model_outputs = []

# Looping through each city
for city in cities:
    if city == 'london':
        city_month_weather_df = london_weather_df
    else:
        city_month_weather_df = nyc_weather_df
        
    # Preparing the data for Scikit-learn library
    X = city_month_weather_df[['year', 'month_num']]

    # Assigning the target variable
    y = city_month_weather_df.avg_high_temp_f

    # Creating the model from the class
    model = LinearRegression()

    # Splitting the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    # Training the model
    model.fit(X_train, y_train)

    # Generating the predictions
    y_pred = model.predict(X_test)

    # Evaluating the performance
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

#     # Plotting and saving the predictions vs. the datapoints
#     plt.scatter(X_train, y_train, color='blue', label='train')
#     plt.scatter(X_test, y_test, color='green', label='test')
#     plt.plot(X_test, y_pred, color='red', label='predict')
#     plt.xlabel('year')
#     plt.ylabel('avg high temp (F)')
#     plt.legend()
#     if city == 'london':
#         plt.title('London ' + str(i) + ' avg high temps vs. model')
#         plt.savefig('images/high_temp/london_'+ str(i) + '_avg_high_temps.png')
#     else:
#         plt.title('NYC ' + str(i) + ' avg high temps vs. model')
#         plt.savefig('images/high_temp/nyc_'+ str(i) + '_avg_high_temps.png')
#     # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
#     plt.clf()

    # Viewing our coefficient and intercept
    #print(model.coef_)
    #print(model.intercept_)
    #print(f'{city} month = {i}')
    #print('---')

    # Adding the values to the list
    combined_high_temp_model_outputs.append({
        'city': city,
        #'month_num': i,
        'weather_factor': 'high_temp',
        'coef_year': model.coef_[0],
        'coef_month_num': model.coef_[1],
        'intercept': model.intercept_,
        'mae': mae,
        'mse': mse,
        'rmse': rmse
    })

# Creating a DataFrame from our results
combined_high_temp_model_df = pd.DataFrame(combined_high_temp_model_outputs)

# Adding the predictions to the high temp DataFrame
#combined_high_temp_model_df['2022_prediction_F'] = (2022 * combined_high_temp_model_df['coef_year']) + (combined_high_temp_model_df['month_num'] * combined_high_temp_model_df['coef_month_num']) + combined_high_temp_model_df['intercept']
#combined_high_temp_model_df['2023_prediction_F'] = (2023 * combined_high_temp_model_df['coef_year']) + (combined_high_temp_model_df['month_num'] * combined_high_temp_model_df['coef_month_num']) + combined_high_temp_model_df['intercept']

# Formatting the columns
combined_high_temp_model_df['coef_year'] = combined_high_temp_model_df['coef_year'].map('{:.2f}'.format)
combined_high_temp_model_df['coef_month_num'] = combined_high_temp_model_df['coef_month_num'].map('{:.2f}'.format)                                                                                                        
combined_high_temp_model_df['intercept'] = combined_high_temp_model_df['intercept'].map('{:.2f}'.format)
combined_high_temp_model_df['mae'] = combined_high_temp_model_df['mae'].map('{:.2f}'.format)
combined_high_temp_model_df['mse'] = combined_high_temp_model_df['mse'].map('{:.2f}'.format)
combined_high_temp_model_df['rmse'] = combined_high_temp_model_df['rmse'].map('{:.2f}'.format)
#combined_high_temp_model_df['2022_prediction_F'] = combined_high_temp_model_df['2022_prediction_F'].map('{:.2f}'.format)
#combined_high_temp_model_df['2023_prediction_F'] = combined_high_temp_model_df['2023_prediction_F'].map('{:.2f}'.format)

# Displaying the updated DataFrame
combined_high_temp_model_df

,city,weather_factor,coef_year,coef_month_num,intercept,mae,mse,rmse
0,london,high_temp,0.07,0.91,-79.12,9.10,117.10,10.82
1,nyc,high_temp,0.02,1.45,4.78,13.82,247.26,15.72

In [13]:
# One rainfall model for each city for all months
# Looks like this model performs slightly better or about the same overall vs. the model above where rainfall data is broken out by months

# Creating empty list to hold the outputs of our model
combined_total_rainfall_model_outputs = []

# Looping through each city
for city in cities:
    # Splitting out the weather for that city
    if city == 'london':
        city_month_weather_df = london_weather_df
    else:
        city_month_weather_df = nyc_weather_df

    # Preparing the data for Scikit-learn library
    X = city_month_weather_df[['year', 'month_num']]

    # Assigning the target variable
    if city == 'london':
        y = city_month_weather_df.total_rainfall_inches
    else:
        y = city_month_weather_df.avg_total_precipitation_inches

    # Creating the model from the class
    model = LinearRegression()

    # Splitting the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    # Training the model
    model.fit(X_train, y_train)

    # Generating the predictions
    y_pred = model.predict(X_test)

    # Evaluating the performance
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

#     # Plotting and saving the predictions vs. the datapoints
#     plt.scatter(X_train, y_train, color='blue', label='train')
#     plt.scatter(X_test, y_test, color='green', label='test')
#     plt.plot(X_test, y_pred, color='red', label='predict')
#     plt.xlabel('year')
#     plt.ylabel('total rainfall (inches)')
#     plt.legend()
#     if city == 'london':
#         plt.title('London ' + str(i) + ' total rainfall vs. model')
#         plt.savefig('images/rainfall/london_'+ str(i) + '_total_rainfall.png')
#     else:
#         plt.title('NYC ' + str(i) + ' total rainfall vs. model')
#         plt.savefig('images/rainfall/nyc_'+ str(i) + '_total_rainfall.png')
#     # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
#     plt.clf()

    # Viewing our coefficient and intercept
    #print(model.coef_)
    #print(model.intercept_)
    #print(f'{city} month = {i}')
    #print('---')

    # Adding the values to the list
    combined_total_rainfall_model_outputs.append({
        'city': city,
        #'month_num': i,
        'weather_factor': 'rainfall',
        'coef_year': model.coef_[0],
        'coef_month_num': model.coef_[1],
        'intercept': model.intercept_,
        'mae': mae,
        'mse': mse,
        'rmse': rmse
    })
        
# Creating a DataFrame from our results
combined_total_rainfall_model_df = pd.DataFrame(combined_total_rainfall_model_outputs)

# Adding the predictions to the high temp DataFrame
#total_rainfall_model_df['2022_prediction_inches'] = (2022 * total_rainfall_model_df['coef']) + total_rainfall_model_df['intercept']
#total_rainfall_model_df['2023_prediction_inches'] = (2023 * total_rainfall_model_df['coef']) + total_rainfall_model_df['intercept']

# Formatting the columns
combined_total_rainfall_model_df['coef_year'] = combined_total_rainfall_model_df['coef_year'].map('{:.2f}'.format)
combined_total_rainfall_model_df['coef_month_num'] = combined_total_rainfall_model_df['coef_month_num'].map('{:.2f}'.format)
combined_total_rainfall_model_df['intercept'] = combined_total_rainfall_model_df['intercept'].map('{:.2f}'.format)
#combined_total_rainfall_model_df['mae'] = combined_total_rainfall_model_df['mae'].map('{:.2f}'.format)
combined_total_rainfall_model_df['mse'] = combined_total_rainfall_model_df['mse'].map('{:.2f}'.format)
#combined_total_rainfall_model_df['rmse'] = combined_total_rainfall_model_df['rmse'].map('{:.2f}'.format)
#combined_total_rainfall_model_df['2022_prediction_inches'] = combined_total_rainfall_model_df['2022_prediction_inches'].map('{:.2f}'.format)
#combined_total_rainfall_model_df['2023_prediction_inches'] = combined_total_rainfall_model_df['2023_prediction_inches'].map('{:.2f}'.format)

# Displaying the updated DataFrame
combined_total_rainfall_model_df

,city,weather_factor,coef_year,coef_month_num,intercept,mae,mse,rmse
0,london,rainfall,0.00,0.06,-0.62,0.933576,1.33,1.151876
1,nyc,rainfall,0.02,0.06,-26.75,1.617958,4.79,2.187780

In [14]:
# One model for all months snowfall NYC
# Model above with one for each month performs better

# Creating empty list to hold the outputs of our model
combined_total_snowfall_model_outputs = []

# Splitting out the weather for NYC for each month
city_month_weather_df = nyc_weather_df

# Preparing the data for Scikit-learn library
X = city_month_weather_df[['year', 'month_num']]

# Assigning the target variable
y = city_month_weather_df.avg_total_snowfall_inches

# Creating the model from the class
model = LinearRegression()

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Training the model
model.fit(X_train, y_train)

# Generating the predictions
y_pred = model.predict(X_test)

# Evaluating the performance
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

# # Plotting and saving the predictions vs. the datapoints
# plt.scatter(X_train, y_train, color='blue', label='train')
# plt.scatter(X_test, y_test, color='green', label='test')
# plt.plot(X_test, y_pred, color='red', label='predict')
# plt.xlabel('year')
# plt.ylabel('total snowfall (inches)')
# plt.legend()
# plt.title('NYC ' + str(i) + ' total snowfall vs. model')
# plt.savefig('images/snowfall/nyc_'+ str(i) + '_total_snowfall.png')
# # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
# plt.clf()

# Viewing our coefficient and intercept
#print(model.coef_)
#print(model.intercept_)
#print(f'{city} month = {i}')
#print('---')

# Adding the values to the list
combined_total_snowfall_model_outputs.append({
    'city': 'NYC',
    #'month_num': i,
    'weather_factor': 'snowfall',
    'coef_year': model.coef_[0],
    'coef_month_num': model.coef_[1],
    'intercept': model.intercept_,
    'mae': mae,
    'mse': mse,
    'rmse': rmse
})

# Creating a DataFrame from our results
combined_total_snowfall_model_df = pd.DataFrame(combined_total_snowfall_model_outputs)

# Adding the predictions to the high temp DataFrame
#total_snowfall_model_df['2022_prediction_inches'] = (2022 * total_snowfall_model_df['coef']) + total_snowfall_model_df['intercept']
#total_snowfall_model_df['2023_prediction_inches'] = (2023 * total_snowfall_model_df['coef']) + total_snowfall_model_df['intercept']

# Formatting the columns
combined_total_snowfall_model_df['coef_year'] = combined_total_snowfall_model_df['coef_year'].map('{:.2f}'.format)
combined_total_snowfall_model_df['coef_month_num'] = combined_total_snowfall_model_df['coef_month_num'].map('{:.2f}'.format)
combined_total_snowfall_model_df['intercept'] = combined_total_snowfall_model_df['intercept'].map('{:.2f}'.format)
combined_total_snowfall_model_df['mae'] = combined_total_snowfall_model_df['mae'].map('{:.2f}'.format)
combined_total_snowfall_model_df['mse'] = combined_total_snowfall_model_df['mse'].map('{:.2f}'.format)
combined_total_snowfall_model_df['rmse'] = combined_total_snowfall_model_df['rmse'].map('{:.2f}'.format)
#combined_total_snowfall_model_df['2022_prediction_inches'] = combined_total_snowfall_model_df['2022_prediction_inches'].map('{:.2f}'.format)
#combined_total_snowfall_model_df['2023_prediction_inches'] = combined_total_snowfall_model_df['2023_prediction_inches'].map('{:.2f}'.format)

# Displaying the updated DataFrame
combined_total_snowfall_model_df

  city weather_factor coef_year coef_month_num intercept   mae    mse  rmse
0  NYC       snowfall      0.02          -0.50    -24.62  2.87  18.27  4.27

In [15]:
# One model for London sunshine data for all months
# Model above broken out by months performs better than combined model

# Creating empty list to hold the outputs of our model
combined_total_sunshine_model_outputs = []

city_month_weather_df = london_weather_df

# Preparing the data for Scikit-learn library
X = city_month_weather_df[['year', 'month_num']]

# Assigning the target variable
y = city_month_weather_df.total_sunshine_duration_hours

# Creating the model from the class
model = LinearRegression()

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Training the model
model.fit(X_train, y_train)

# Generating the predictions
y_pred = model.predict(X_test)

# Evaluating the performance
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

# # Plotting and saving the predictions vs. the datapoints
# plt.scatter(X_train, y_train, color='blue', label='train')
# plt.scatter(X_test, y_test, color='green', label='test')
# plt.plot(X_test, y_pred, color='red', label='predict')
# plt.xlabel('year')
# plt.ylabel('total sunshine (hours)')
# plt.legend()
# plt.title('London ' + str(i) + ' total sunshine vs. model')
# plt.savefig('images/sunshine/london_'+ str(i) + '_total_sunshine.png')
# # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
# plt.clf()

# Viewing our coefficient and intercept
#print(model.coef_)
#print(model.intercept_)
#print(f'{city} month = {i}')
#print('---')

# Adding the values to the list
combined_total_sunshine_model_outputs.append({
    'city': 'London',
    #'month_num': i,
    'weather_factor': 'sunshine',
    'coef_year': model.coef_[0],
    'coef_month_num': model.coef_[1],
    'intercept': model.intercept_,
    'mae': mae,
    'mse': mse,
    'rmse': rmse
})

# Creating a DataFrame from our results
combined_total_sunshine_model_df = pd.DataFrame(combined_total_sunshine_model_outputs)

# Adding the predictions to the high temp DataFrame
#total_sunshine_model_df['2022_prediction_inches'] = (2022 * total_sunshine_model_df['coef']) + total_sunshine_model_df['intercept']
#total_sunshine_model_df['2023_prediction_inches'] = (2023 * total_sunshine_model_df['coef']) + total_sunshine_model_df['intercept']

# Formatting the columns
combined_total_sunshine_model_df['coef_year'] = combined_total_sunshine_model_df['coef_year'].map('{:.2f}'.format)
combined_total_sunshine_model_df['coef_month_num'] = combined_total_sunshine_model_df['coef_month_num'].map('{:.2f}'.format)
combined_total_sunshine_model_df['intercept'] = combined_total_sunshine_model_df['intercept'].map('{:.2f}'.format)
combined_total_sunshine_model_df['mae'] = combined_total_sunshine_model_df['mae'].map('{:.2f}'.format)
combined_total_sunshine_model_df['mse'] = combined_total_sunshine_model_df['mse'].map('{:.2f}'.format)
combined_total_sunshine_model_df['rmse'] = combined_total_sunshine_model_df['rmse'].map('{:.2f}'.format)
#combined_total_sunshine_model_df['2022_prediction_inches'] = combined_total_sunshine_model_df['2022_prediction_inches'].map('{:.2f}'.format)
#combined_total_sunshine_model_df['2023_prediction_inches'] = combined_total_sunshine_model_df['2023_prediction_inches'].map('{:.2f}'.format)

# Displaying the updated DataFrame
combined_total_sunshine_model_df

,city,weather_factor,coef_year,coef_month_num,intercept,mae,mse,rmse
0,London,sunshine,0.08,-0.28,-34.45,50.89,3467.46,58.89

In [16]:
# Calculating mean MSE from sunshine model above
total_sunshine_model_df.groupby(['city']).mean()['mse']

city
London    1111.382361
Name: mse, dtype: float64

In [17]:
# Calculating mean MSE from high temp model above
high_temp_model_df.groupby(['city']).mean()['mse']

city
london    8.649380
nyc       9.664437
Name: mse, dtype: float64

In [18]:
# Calculating mean MSE from total precip model above
total_rainfall_model_df.groupby(['city']).mean()['mse']

city
london    1.411874
nyc       4.435572
Name: mse, dtype: float64

In [19]:
# Calculating mean MSE from total snowfall model
total_snowfall_model_df.groupby(['city']).mean()['mse']

city
NYC    15.294477
Name: mse, dtype: float64

In [20]:
# Creating a DataFrame to hold the predicted ranges
predictions_df = high_temp_model_df[['city', 'month_num', '2022_prediction_F', '2023_prediction_F']]
predictions_df

      city  month_num  2022_prediction_F  2023_prediction_F
0   london          1          47.286999          47.340894
1   london          2          48.085933          48.138933
2   london          3          53.880911          53.946824
3   london          4          59.606588          59.684360
4   london          5          66.204601          66.269890
5   london          6          71.047495          71.071495
6   london          7          76.321881          76.401199
7   london          8          74.919945          75.001102
8   london          9          69.100190          69.146554
9   london         10          61.468199          61.502349
10  london         11          53.382838          53.436912
11  london         12          48.431577          48.466169
12     nyc          1          38.380285          38.378105
13     nyc          2          43.039152          43.067909
14     nyc          3          51.570932          51.615778
15     nyc          4          61.718496          61.728788
16     nyc          5          72.220832          72.238618
17     nyc          6          80.283828          80.285238
18     nyc          7          85.186708          85.182951
19     nyc          8          83.332587          83.324525
20     nyc          9          76.705717          76.714448
21     nyc         10          65.083370          65.075268
22     nyc         11          54.756345          54.779228
23     nyc         12          46.056582          46.120669

In [21]:
high_temp_model_df.columns

Index(['city', 'month_num', 'weather_factor', 'coef', 'intercept', 'mae',
       'mse', 'rmse', '2022_prediction_F', '2023_prediction_F'],
      dtype='object')

In [22]:
# High Temp Predictions
# Adding columns to hold the prediction ranges
predictions_df['min_pred_2022_F'] = (predictions_df['2022_prediction_F'] - high_temp_model_df['mae'])
predictions_df['max_pred_2022_F'] = (predictions_df['2022_prediction_F'] + high_temp_model_df['mae'])
predictions_df['min_pred_2023_F'] = (predictions_df['2023_prediction_F'] - high_temp_model_df['mae'])
predictions_df['max_pred_2023_F'] = (predictions_df['2023_prediction_F'] + high_temp_model_df['mae'])

# Rounding the min predictions down and the max predictions up
predictions_df['min_pred_2022_F'] = np.floor(predictions_df['min_pred_2022_F'])
predictions_df['min_pred_2023_F'] = np.floor(predictions_df['min_pred_2023_F'])
predictions_df['max_pred_2023_F'] = np.ceil(predictions_df['max_pred_2023_F'])
predictions_df['max_pred_2022_F'] = np.ceil(predictions_df['max_pred_2022_F'])

# Formatting the columns
predictions_df['min_pred_2022_F'] = predictions_df['min_pred_2022_F'].map('{:.0f}'.format)
predictions_df['min_pred_2023_F'] = predictions_df['min_pred_2023_F'].map('{:.0f}'.format)
predictions_df['max_pred_2022_F'] = predictions_df['max_pred_2022_F'].map('{:.0f}'.format)
predictions_df['max_pred_2023_F'] = predictions_df['max_pred_2023_F'].map('{:.0f}'.format)

# Concatenating into prediction columns
predictions_df['Predicted avg high temp 2022 (F)'] = (predictions_df['min_pred_2022_F'] + '-' 
                                                      + predictions_df['max_pred_2022_F'])
predictions_df['Predicted avg high temp 2023 (F)'] = (predictions_df['min_pred_2023_F'] + '-' 
                                                      + predictions_df['max_pred_2023_F'])

# Dropping the unneeded columns
predictions_df = predictions_df.drop(columns=['2022_prediction_F', '2023_prediction_F', 'min_pred_2022_F', 'max_pred_2022_F',
                            'min_pred_2023_F', 'max_pred_2023_F'], axis=1)

predictions_df

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,city,month_num,Predicted avg high temp 2022 (F),Predicted avg high temp 2023 (F)
0,london,1,44-50,44-50
1,london,2,45-52,45-52
2,london,3,51-57,51-57
3,london,4,57-62,57-62
4,london,5,64-69,64-69
5,london,6,68-74,68-74
6,london,7,73-79,73-79
7,london,8,71-78,71-79
8,london,9,67-72,67-72
9,london,10,59-64,59-64
10,london,11,52-55,52-55
11,london,12,45-52,45-52
12,nyc,1,34-43,34-43
13,nyc,2,39-47,39-47
14,nyc,3,49-55,49-55
15,nyc,4,59-65,59-65
16,nyc,5,69-75,69-75
17,nyc,6,77-83,77-83
18,nyc,7,83-88,83-88
19,nyc,8,81-85,81-85
20,nyc,9,74-79,74-79
21,nyc,10,62-68,62-68
22,nyc,11,52-58,52-58
23,nyc,12,43-49,43-49

In [23]:
# Total precip predictions

# Adding columns to hold the prediction ranges
predictions_df['min_precip_2022'] = (total_rainfall_model_df['2022_prediction_inches'] - total_rainfall_model_df['mae'])
predictions_df['max_precip_2022'] = (total_rainfall_model_df['2022_prediction_inches'] + total_rainfall_model_df['mae'])
predictions_df['min_precip_2023'] = (total_rainfall_model_df['2023_prediction_inches'] - total_rainfall_model_df['mae'])
predictions_df['max_precip_2023'] = (total_rainfall_model_df['2023_prediction_inches'] + total_rainfall_model_df['mae'])

# # Rounding the predictions
predictions_df['min_precip_2022'] = predictions_df['min_precip_2022'].round(1)
predictions_df['max_precip_2022'] = predictions_df['max_precip_2022'].round(1)
predictions_df['min_precip_2023'] = predictions_df['min_precip_2023'].round(1)
predictions_df['max_precip_2023'] = predictions_df['max_precip_2023'].round(1)

# # Concatenating into prediction columns
# Debugging by adapting code found here:  https://stackoverflow.com/questions/44527956/python-ufunc-add-did-not-contain-a-loop-with-signature-matching-types-dtype
predictions_df['Predicted total rainfall 2022 (inches)'] = (predictions_df['min_precip_2022'].apply(str) + '-' 
                                                            + predictions_df['max_precip_2022'].apply(str))
predictions_df['Predicted total rainfall 2023 (inches)'] = (predictions_df['min_precip_2023'].apply(str) + '-' 
                                                            + predictions_df['max_precip_2023'].apply(str))

# # Dropping the unneeded columns
predictions_df = predictions_df.drop(columns=['min_precip_2022', 'max_precip_2022', 
                                              'min_precip_2023', 'max_precip_2023'], axis=1)

predictions_df

,city,month_num,Predicted avg high temp 2022 (F),Predicted avg high temp 2023 (F),Predicted total rainfall 2022 (inches),Predicted total rainfall 2023 (inches)
0,london,1,44-50,44-50,1.8-3.6,1.8-3.6
1,london,2,45-52,45-52,1.1-2.6,1.1-2.6
2,london,3,51-57,51-57,0.6-2.0,0.6-2.0
3,london,4,57-62,57-62,0.3-2.3,0.3-2.3
4,london,5,64-69,64-69,0.9-2.5,0.9-2.5
5,london,6,68-74,68-74,0.5-3.1,0.5-3.1
6,london,7,73-79,73-79,0.8-2.5,0.8-2.5
7,london,8,71-78,71-79,1.0-2.7,1.0-2.7
8,london,9,67-72,67-72,0.5-2.7,0.5-2.7
9,london,10,59-64,59-64,1.6-3.9,1.6-3.9
10,london,11,52-55,52-55,1.6-3.8,1.6-3.8
11,london,12,45-52,45-52,1.3-3.1,1.3-3.1
12,nyc,1,34-43,34-43,2.6-5.4,2.6-5.4
13,nyc,2,39-47,39-47,2.1-4.5,2.1-4.5
14,nyc,3,49-55,49-55,3.0-5.8,3.0-5.8
15,nyc,4,59-65,59-65,3.6-6.9,3.6-6.9
16,nyc,5,69-75,69-75,3.1-6.2,3.1-6.2
17,nyc,6,77-83,77-83,4.0-6.3,4.0-6.3
18,nyc,7,83-88,83-88,3.6-7.3,3.6-7.3
19,nyc,8,81-85,81-85,3.3-6.8,3.3-6.8
20,nyc,9,74-79,74-79,1.4-6.1,1.4-6.1
21,nyc,10,62-68,62-68,3.2-6.1,3.2-6.1
22,nyc,11,52-58,52-58,2.2-5.4,2.2-5.4
23,nyc,12,43-49,43-49,3.4-6.3,3.4-6.3

In [24]:
# Separating prediction DF by city
london_predictions_df = predictions_df.loc[(predictions_df['city'] == 'london')]
nyc_predictions_df = predictions_df.loc[(predictions_df['city'] == 'nyc')]

In [25]:
# Debugging error creating nyc snowfall predictions with workaround
min_snow_2022 = total_snowfall_model_df['2022_prediction_inches'] - total_snowfall_model_df['mae']
max_snow_2022 = total_snowfall_model_df['2022_prediction_inches'] + total_snowfall_model_df['mae']
min_snow_2023 = total_snowfall_model_df['2023_prediction_inches'] - total_snowfall_model_df['mae']
max_snow_2023 = total_snowfall_model_df['2023_prediction_inches'] + total_snowfall_model_df['mae']

In [ ]:
# Replacing negative values in min snow series with 0
min_snow_2022

In [30]:
# Total snowfall

# Adding columns to hold the prediction ranges
nyc_predictions_df['min_snow_2022'] = min_snow_2022.tolist()
nyc_predictions_df['max_snow_2022'] = max_snow_2022.tolist()
nyc_predictions_df['min_snow_2023'] = min_snow_2023.tolist()
nyc_predictions_df['max_snow_2023'] = max_snow_2023.tolist()

# Replacing negative numbers in min snow columns with 0
# Adapting code to replace negative numbers with 0, found here:  https://stackoverflow.com/questions/49681363/replace-negative-values-in-single-dataframe-column
nyc_predictions_df['min_snow_2022'][nyc_predictions_df['min_snow_2022'] < 0] = 0
nyc_predictions_df['min_snow_2023'][nyc_predictions_df['min_snow_2023'] < 0] = 0

# Rounding the predictions to the nearest tenth
nyc_predictions_df['min_snow_2022'] = nyc_predictions_df['min_snow_2022'].round(1) 
nyc_predictions_df['max_snow_2022'] = nyc_predictions_df['max_snow_2022'].round(1) 
nyc_predictions_df['min_snow_2023'] = nyc_predictions_df['min_snow_2023'].round(1) 
nyc_predictions_df['max_snow_2023'] = nyc_predictions_df['max_snow_2023'].round(1) 

# Concatenating into prediction columns
# Debugging by adapting code found here:  https://stackoverflow.com/questions/44527956/python-ufunc-add-did-not-contain-a-loop-with-signature-matching-types-dtype
nyc_predictions_df['Predicted total snowfall 2022 (inches)'] = (nyc_predictions_df['min_snow_2022'].apply(str) + '-'
                                                               + nyc_predictions_df['max_snow_2022'].apply(str))
nyc_predictions_df['Predicted total snowfall 2023(inches)'] = (nyc_predictions_df['min_snow_2023'].apply(str) + '-'
                                                               + nyc_predictions_df['max_snow_2023'].apply(str))

# Dropping the unneeded columns
nyc_predictions_df = nyc_predictions_df.drop(columns=['min_snow_2022', 'max_snow_2022', 'min_snow_2023', 'max_snow_2023'])

nyc_predictions_df


# Below are the steps but need to be updated for nyc_preditions and snowfall
# ------


# # # Concatenating into prediction columns
# # Debugging by adapting code found here:  https://stackoverflow.com/questions/44527956/python-ufunc-add-did-not-contain-a-loop-with-signature-matching-types-dtype
# predictions_df['Predicted total rainfall 2022 (inches)'] = (predictions_df['min_precip_2022'].apply(str) + '-' 
#                                                             + predictions_df['max_precip_2022'].apply(str))
# predictions_df['Predicted total rainfall 2023 (inches)'] = (predictions_df['min_precip_2023'].apply(str) + '-' 
#                                                             + predictions_df['max_precip_2023'].apply(str))

# # # Dropping the unneeded columns
# predictions_df = predictions_df.drop(columns=['min_precip_2022', 'max_precip_2022', 
#                                               'min_precip_2023', 'max_precip_2023'], axis=1)

# predictions_df

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,city,month_num,Predicted avg high temp 2022 (F),Predicted avg high temp 2023 (F),Predicted total rainfall 2022 (inches),Predicted total rainfall 2023 (inches),Predicted total snowfall 2022 (inches),Predicted total snowfall 2023(inches)
12,nyc,1,34-43,34-43,2.6-5.4,2.6-5.4,5.2-14.5,5.2-14.6
13,nyc,2,39-47,39-47,2.1-4.5,2.1-4.5,2.0-17.7,2.1-17.7
14,nyc,3,49-55,49-55,3.0-5.8,3.0-5.8,1.2-7.2,1.2-7.2
15,nyc,4,59-65,59-65,3.6-6.9,3.6-6.9,0.0-1.5,0.0-1.6
16,nyc,5,69-75,69-75,3.1-6.2,3.1-6.2,0.0-0.0,0.0-0.0
17,nyc,6,77-83,77-83,4.0-6.3,4.0-6.3,0.0-0.0,0.0-0.0
18,nyc,7,83-88,83-88,3.6-7.3,3.6-7.3,0.0-0.0,0.0-0.0
19,nyc,8,81-85,81-85,3.3-6.8,3.3-6.8,0.0-0.0,0.0-0.0
20,nyc,9,74-79,74-79,1.4-6.1,1.4-6.1,0.0-0.0,0.0-0.0
21,nyc,10,62-68,62-68,3.2-6.1,3.2-6.1,0.1-0.3,0.1-0.3
22,nyc,11,52-58,52-58,2.2-5.4,2.2-5.4,0.0-1.5,0.0-1.5
23,nyc,12,43-49,43-49,3.4-6.3,3.4-6.3,0.0-8.6,0.0-8.6

In [ ]:
# Total sunshine

# Adding the prediction ranges
london_predictions_df['min_sun_2022'] = (total_sunshine_model_df['2022_prediction_hours'] - total_sunshine_model_df['mae'])
london_predictions_df['max_sun_2022'] = (total_sunshine_model_df['2022_prediction_hours'] + total_sunshine_model_df['mae'])
london_predictions_df['min_sun_2023'] = (total_sunshine_model_df['2023_prediction_hours'] - total_sunshine_model_df['mae'])
london_predictions_df['max_sun_2023'] = (total_sunshine_model_df['2023_prediction_hours'] + total_sunshine_model_df['mae'])

# Rounding the min predictions down and the max predictions up
london_predictions_df['min_sun_2022'] = np.floor(london_predictions_df['min_sun_2022'])
london_predictions_df['max_sun_2022'] = np.ceil(london_predictions_df['max_sun_2022'])
london_predictions_df['min_sun_2023'] = np.floor(london_predictions_df['min_sun_2023'])
london_predictions_df['max_sun_2023'] = np.ceil(london_predictions_df['max_sun_2023'])

# Formatting the columns
london_predictions_df['min_sun_2022'] = london_predictions_df['min_sun_2022'].map('{:.0f}'.format)
london_predictions_df['max_sun_2022'] = london_predictions_df['max_sun_2022'].map('{:.0f}'.format)
london_predictions_df['min_sun_2023'] = london_predictions_df['min_sun_2023'].map('{:.0f}'.format)
london_predictions_df['max_sun_2023'] = london_predictions_df['max_sun_2023'].map('{:.0f}'.format)

# Concatenating the predictions
london_predictions_df['Predicted total sunshine 2022 (hours)'] = (london_predictions_df['min_sun_2022'].apply(str) + '-' 
                                                            + london_predictions_df['max_sun_2022'].apply(str))
london_predictions_df['Predicted total sunshine 2023 (hours)'] = (london_predictions_df['min_sun_2023'].apply(str) + '-' 
                                                            + london_predictions_df['max_sun_2023'].apply(str))

# Dropping the unneeded columns
london_predictions_df = london_predictions_df.drop(columns=['min_sun_2022', 'max_sun_2022', 'min_sun_2023', 'max_sun_2023'])

london_predictions_df

# # # Rounding the min predictions down and the max predictions up
# predictions_df['min_precip_2022'] = predictions_df['min_precip_2022'].round(1)
# predictions_df['max_precip_2022'] = predictions_df['max_precip_2022'].round(1)
# predictions_df['min_precip_2023'] = predictions_df['min_precip_2023'].round(1)
# predictions_df['max_precip_2023'] = predictions_df['max_precip_2023'].round(1)

# # # Concatenating into prediction columns
# # Debugging by adapting code found here:  https://stackoverflow.com/questions/44527956/python-ufunc-add-did-not-contain-a-loop-with-signature-matching-types-dtype
# predictions_df['Predicted total rainfall 2022 (inches)'] = (predictions_df['min_precip_2022'].apply(str) + '-' 
#                                                             + predictions_df['max_precip_2022'].apply(str))
# predictions_df['Predicted total rainfall 2023 (inches)'] = (predictions_df['min_precip_2023'].apply(str) + '-' 
#                                                             + predictions_df['max_precip_2023'].apply(str))

# # # Dropping the unneeded columns
# predictions_df = predictions_df.drop(columns=['min_precip_2022', 'max_precip_2022', 
#                                               'min_precip_2023', 'max_precip_2023'], axis=1)

# predictions_df

In [ ]:
# Dropping the London 2023 columns since they're nearly identical to the 2022 columns
london_predictions_df = london_predictions_df.drop(columns=['Predicted avg high temp 2023 (F)', 
                                                            'Predicted total rainfall 2023 (inches)',
                                                            'Predicted total sunshine 2023 (hours)'])

london_predictions_df

In [ ]:
# Renaming the columns
london_predictions_df.rename(columns={'Predicted avg high temp 2022 (F)': 'Predicted avg high temp 2022-23 (F)',
                                     'Predicted total rainfall 2022 (inches)': 'Predicted total rainfall 2022-23 (inches)',
                                     'Predicted total sunshine 2022 (hours)': 'Predicted total rainfall 2022-23 (hours)'})

london_predictions_df

In [ ]:
# Creating the month_dict
month_dict = {1: 'Jan',
             2: 'Feb',
             3: 'Mar',
             4: 'Apr',
             5: 'May',
             6: 'Jun',
             7: 'Jul',
             8: 'Aug',
             9: 'Sep',
             10: 'Oct',
             11: 'Nov',
             12: 'Dec'}

In [ ]:
# Adding month name to the DataFrame
london_predictions_df['Month'] = london_predictions_df['month_num'].apply(lambda x:month_dict[x])

# Dropping the unneeded columns
london_predictions_df.drop(columns=['city', 'month_num'], axis=1)

# Rearranging the columns
london_predictions_df = london_predictions_df[['Month', 'Predicted avg high temp 2022 (F)', 
                                             'Predicted total rainfall 2022 (inches)',
                                             'Predicted total sunshine 2022 (hours)']]
                                             
london_predictions_df