In [1]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from getpass import getpass
import numpy as np

In [2]:
# Loading the weather data from the databases
# Reading the data from our database
# Debugging with syntax from here:  https://stackoverflow.com/questions/23839656/sqlalchemy-no-password-supplied-error
password = getpass('Enter database password')
london_weather_df = pd.read_sql_table('london_weather_yyyy_mm', 
                                      f'postgresql://postgres:{password}@localhost/Final_Project_Travel')
nyc_weather_df = pd.read_sql_table('nyc_weather_yyyy_mm',
                                  f'postgresql://postgres:{password}@localhost/Final_Project_Travel')

Enter database password········

In [3]:
# Looking at the London weather
london_weather_df

,index,year,month_num,avg_high_temp_f,avg_low_temp_f,total_rainfall_inches,days_of_air_frost,total_sunshine_duration_hours
0,108,1957,1,47.66,36.86,1.555118,5,53.0
1,109,1957,2,48.20,37.22,2.748031,5,64.9
2,110,1957,3,57.02,42.26,1.000000,2,96.7
3,111,1957,4,57.56,41.36,0.224409,1,169.6
4,112,1957,5,61.16,43.70,0.838583,0,195.0
...,...,...,...,...,...,...,...,...
771,879,2021,4,55.58,37.22,0.283465,5,202.6
772,880,2021,5,61.70,44.96,3.330709,0,131.9
773,881,2021,6,72.50,55.94,3.472441,0,159.6
774,882,2021,7,75.56,58.82,2.409449,0,171.1
775,883,2021,8,71.42,56.12,1.661417,0,95.6

In [4]:
# Looking at the NYC weather
nyc_weather_df

,index,year,month_num,avg_high_temp_f,avg_low_temp_f,avg_total_precipitation_inches,avg_total_snowfall_inches
0,0,1948,1,31.2,19.6,4.74,15.3
1,1,1948,2,37.8,23.6,2.52,13.6
2,2,1948,3,50.6,33.5,3.51,4.8
3,3,1948,4,58.9,43.1,3.26,0.0
4,4,1948,5,67.6,52.8,7.58,0.0
...,...,...,...,...,...,...,...
879,879,2021,4,63.7,45.5,2.69,0.0
880,880,2021,5,71.7,54.0,4.36,0.0
881,881,2021,6,82.5,66.0,2.62,0.0
882,882,2021,7,83.0,69.0,11.09,0.0
883,883,2021,8,83.9,71.2,10.32,0.0

In [5]:
# Dropping the index columns
london_weather_df = london_weather_df.drop(columns=['index'], axis=1)
nyc_weather_df = nyc_weather_df.drop(columns=['index'], axis=1)

In [6]:
# Checking for null values
print(london_weather_df.isnull().sum())
print(nyc_weather_df.isnull().sum())

year                             0
month_num                        0
avg_high_temp_f                  0
avg_low_temp_f                   0
total_rainfall_inches            0
days_of_air_frost                0
total_sunshine_duration_hours    0
dtype: int64
year                              0
month_num                         0
avg_high_temp_f                   0
avg_low_temp_f                    0
avg_total_precipitation_inches    0
avg_total_snowfall_inches         0
dtype: int64

In [7]:
# Checking our datatypes
print(london_weather_df.dtypes)
print(nyc_weather_df.dtypes)

year                               int64
month_num                          int64
avg_high_temp_f                  float64
avg_low_temp_f                   float64
total_rainfall_inches            float64
days_of_air_frost                  int64
total_sunshine_duration_hours    float64
dtype: object
year                                int64
month_num                           int64
avg_high_temp_f                   float64
avg_low_temp_f                    float64
avg_total_precipitation_inches    float64
avg_total_snowfall_inches         float64
dtype: object

# Linear regression model avg high temp vs. year

In [8]:
# Looping through the months for both cities, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating cities list
cities = ['london', 'nyc']

# Creating empty list to hold the outputs of our model
high_temp_model_outputs = []

# Looping through each city
for city in cities:
    # Iterating through the months
    for i in range(1,13):
        # Splitting out the weather for that city and that month
        if city == 'london':
            city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]
        else:
            city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

        # Preparing the data for Scikit-learn library
        X = city_month_weather_df.year.values.reshape(-1,1)

        # Assigning the target variable
        y = city_month_weather_df.avg_high_temp_f

        # Creating the model from the class
        model = LinearRegression()
        
        # Splitting the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y)

        # Training the model
        model.fit(X_train, y_train)

        # Generating the predictions
        y_pred = model.predict(X_test)
        
        # Evaluating the performance
        mae = metrics.mean_absolute_error(y_test, y_pred)
        mse = metrics.mean_squared_error(y_test, y_pred)
        rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

        # Plotting and saving the predictions vs. the datapoints
        plt.scatter(X_train, y_train, color='blue', label='train')
        plt.scatter(X_test, y_test, color='green', label='test')
        plt.plot(X_test, y_pred, color='red', label='predict')
        plt.xlabel('year')
        plt.ylabel('avg high temp (F)')
        plt.legend()
        if city == 'london':
            plt.title('London ' + str(i) + ' avg high temps vs. model')
            plt.savefig('images/high_temp/london_'+ str(i) + '_avg_high_temps.png')
        else:
            plt.title('NYC ' + str(i) + ' avg high temps vs. model')
            plt.savefig('images/high_temp/nyc_'+ str(i) + '_avg_high_temps.png')
        # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
        plt.clf()

        # Viewing our coefficient and intercept
        #print(model.coef_)
        #print(model.intercept_)
        #print(f'{city} month = {i}')
        #print('---')

        # Adding the values to the list
        high_temp_model_outputs.append({
            'city': city,
            'month_num': i,
            'weather_factor': 'high_temp',
            'coef': model.coef_[0],
            'intercept': model.intercept_,
            'mae': mae,
            'mse': mse,
            'rmse': rmse
        })

# Creating a DataFrame from our results
high_temp_model_df = pd.DataFrame(high_temp_model_outputs)

# Adding the predictions to the high temp DataFrame
high_temp_model_df['2022_prediction_F'] = (2022 * high_temp_model_df['coef']) + high_temp_model_df['intercept']
high_temp_model_df['2023_prediction_F'] = (2023 * high_temp_model_df['coef']) + high_temp_model_df['intercept']

# Formatting the columns
high_temp_model_df['coef'] = high_temp_model_df['coef'].map('{:.2f}'.format)
high_temp_model_df['intercept'] = high_temp_model_df['intercept'].map('{:.2f}'.format)
high_temp_model_df['mae'] = high_temp_model_df['mae'].map('{:.2f}'.format)
high_temp_model_df['mse'] = high_temp_model_df['mse'].map('{:.2f}'.format)
high_temp_model_df['rmse'] = high_temp_model_df['rmse'].map('{:.2f}'.format)
high_temp_model_df['2022_prediction_F'] = high_temp_model_df['2022_prediction_F'].map('{:.2f}'.format)
high_temp_model_df['2023_prediction_F'] = high_temp_model_df['2023_prediction_F'].map('{:.2f}'.format)

# Displaying the updated DataFrame
high_temp_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,rmse,2022_prediction_F,2023_prediction_F
0,london,1,high_temp,0.04,-42.56,3.30,18.96,4.35,47.76,47.81
1,london,2,high_temp,0.07,-90.11,3.13,12.14,3.48,49.07,49.14
2,london,3,high_temp,0.08,-100.42,2.76,10.38,3.22,54.23,54.31
3,london,4,high_temp,0.07,-88.73,3.02,12.73,3.57,59.23,59.31
4,london,5,high_temp,0.06,-62.13,1.87,5.57,2.36,66.02,66.09
5,london,6,high_temp,0.04,-17.16,1.78,4.78,2.19,71.42,71.47
6,london,7,high_temp,0.09,-107.69,2.79,13.33,3.65,76.21,76.30
7,london,8,high_temp,0.07,-61.70,1.57,3.87,1.97,75.26,75.33
8,london,9,high_temp,0.05,-31.82,1.95,4.80,2.19,69.26,69.31
9,london,10,high_temp,0.02,14.85,1.63,3.18,1.78,61.01,61.03
10,london,11,high_temp,0.05,-55.84,1.67,4.03,2.01,53.58,53.63
11,london,12,high_temp,0.06,-69.83,1.51,3.90,1.97,48.72,48.78
12,nyc,1,high_temp,0.06,-76.43,3.64,20.69,4.55,40.91,40.96
13,nyc,2,high_temp,0.02,1.98,3.18,13.20,3.63,42.11,42.13
14,nyc,3,high_temp,0.05,-41.41,1.65,6.02,2.45,51.27,51.32
15,nyc,4,high_temp,0.03,3.52,1.85,5.61,2.37,62.88,62.91
16,nyc,5,high_temp,0.01,48.10,2.70,10.05,3.17,72.14,72.15
17,nyc,6,high_temp,-0.01,107.75,1.48,3.46,1.86,79.50,79.48
18,nyc,7,high_temp,0.00,83.38,2.23,7.15,2.67,85.03,85.03
19,nyc,8,high_temp,-0.00,92.50,1.74,4.36,2.09,83.54,83.54
20,nyc,9,high_temp,0.01,59.12,1.54,3.83,1.96,76.68,76.69
21,nyc,10,high_temp,-0.03,125.32,2.30,9.06,3.01,64.15,64.12
22,nyc,11,high_temp,0.00,45.36,2.49,8.96,2.99,54.15,54.16
23,nyc,12,high_temp,0.02,-2.57,3.62,17.37,4.17,44.27,44.29

# Linear regression model total precip/rainfall vs. year

In [9]:
# Looping through the months for both cities, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating cities list
cities = ['london', 'nyc']

# Creating empty list to hold the outputs of our model
total_rainfall_model_outputs = []

# Looping through each city
for city in cities:
    # Iterating through the months
    for i in range(1,13):
        # Splitting out the weather for that city and that month
        if city == 'london':
            city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]
        else:
            city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

        # Preparing the data for Scikit-learn library
        X = city_month_weather_df.year.values.reshape(-1,1)

        # Assigning the target variable
        if city == 'london':
            y = city_month_weather_df.total_rainfall_inches
        else:
            y = city_month_weather_df.avg_total_precipitation_inches

        # Creating the model from the class
        model = LinearRegression()
        
        # Splitting the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y)

        # Training the model
        model.fit(X_train, y_train)

        # Generating the predictions
        y_pred = model.predict(X_test)
        
        # Evaluating the performance
        mae = metrics.mean_absolute_error(y_test, y_pred)
        mse = metrics.mean_squared_error(y_test, y_pred)
        rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

        # Plotting and saving the predictions vs. the datapoints
        plt.scatter(X_train, y_train, color='blue', label='train')
        plt.scatter(X_test, y_test, color='green', label='test')
        plt.plot(X_test, y_pred, color='red', label='predict')
        plt.xlabel('year')
        plt.ylabel('total rainfall (inches)')
        plt.legend()
        if city == 'london':
            plt.title('London ' + str(i) + ' total rainfall vs. model')
            plt.savefig('images/rainfall/london_'+ str(i) + '_total_rainfall.png')
        else:
            plt.title('NYC ' + str(i) + ' total rainfall vs. model')
            plt.savefig('images/rainfall/nyc_'+ str(i) + '_total_rainfall.png')
        # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
        plt.clf()

        # Viewing our coefficient and intercept
        #print(model.coef_)
        #print(model.intercept_)
        #print(f'{city} month = {i}')
        #print('---')

        # Adding the values to the list
        total_rainfall_model_outputs.append({
            'city': city,
            'month_num': i,
            'weather_factor': 'rainfall',
            'coef': model.coef_[0],
            'intercept': model.intercept_,
            'mae': mae,
            'mse': mse,
            'rmse': rmse
        })
        
# Creating a DataFrame from our results
total_rainfall_model_df = pd.DataFrame(total_rainfall_model_outputs)

# Adding the predictions to the high temp DataFrame
total_rainfall_model_df['2022_prediction_inches'] = (2022 * total_rainfall_model_df['coef']) + total_rainfall_model_df['intercept']
total_rainfall_model_df['2023_prediction_inches'] = (2023 * total_rainfall_model_df['coef']) + total_rainfall_model_df['intercept']

# Formatting the columns
total_rainfall_model_df['coef'] = total_rainfall_model_df['coef'].map('{:.2f}'.format)
total_rainfall_model_df['intercept'] = total_rainfall_model_df['intercept'].map('{:.2f}'.format)
total_rainfall_model_df['mae'] = total_rainfall_model_df['mae'].map('{:.2f}'.format)
total_rainfall_model_df['mse'] = total_rainfall_model_df['mse'].map('{:.2f}'.format)
total_rainfall_model_df['rmse'] = total_rainfall_model_df['rmse'].map('{:.2f}'.format)
total_rainfall_model_df['2022_prediction_inches'] = total_rainfall_model_df['2022_prediction_inches'].map('{:.2f}'.format)
total_rainfall_model_df['2023_prediction_inches'] = total_rainfall_model_df['2023_prediction_inches'].map('{:.2f}'.format)

# Displaying the updated DataFrame
total_rainfall_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,rmse,2022_prediction_inches,2023_prediction_inches
0,london,1,rainfall,0.01,-23.85,0.81,0.97,0.98,2.66,2.68
1,london,2,rainfall,0.01,-11.19,0.89,1.19,1.09,1.78,1.79
2,london,3,rainfall,-0.00,3.57,0.95,1.18,1.08,1.68,1.68
3,london,4,rainfall,0.00,-2.20,0.91,1.17,1.08,1.70,1.71
4,london,5,rainfall,-0.00,9.96,0.86,0.97,0.99,1.85,1.84
5,london,6,rainfall,0.01,-15.37,1.20,2.08,1.44,2.32,2.33
6,london,7,rainfall,0.00,1.31,0.69,0.73,0.85,1.89,1.89
7,london,8,rainfall,-0.00,12.03,0.90,1.33,1.15,1.98,1.98
8,london,9,rainfall,-0.01,16.47,1.18,2.01,1.42,1.67,1.67
9,london,10,rainfall,0.00,-3.93,0.87,1.17,1.08,2.49,2.49
10,london,11,rainfall,0.01,-10.76,1.15,1.57,1.25,2.84,2.85
11,london,12,rainfall,-0.00,4.95,0.77,0.95,0.97,2.30,2.30
12,nyc,1,rainfall,0.00,-2.23,1.24,1.90,1.38,3.56,3.56
13,nyc,2,rainfall,0.01,-11.18,1.24,2.23,1.49,3.33,3.33
14,nyc,3,rainfall,0.01,-8.54,1.53,3.33,1.83,4.58,4.59
15,nyc,4,rainfall,0.02,-26.59,1.25,2.88,1.70,4.68,4.70
16,nyc,5,rainfall,0.01,-8.02,1.43,3.57,1.89,4.28,4.29
17,nyc,6,rainfall,0.04,-77.23,1.73,5.30,2.30,5.27,5.32
18,nyc,7,rainfall,0.04,-74.38,2.17,6.26,2.50,6.16,6.20
19,nyc,8,rainfall,0.02,-38.60,2.58,11.10,3.33,5.12,5.14
20,nyc,9,rainfall,0.02,-36.45,2.61,10.20,3.19,4.52,4.54
21,nyc,10,rainfall,0.03,-62.93,1.60,3.79,1.95,5.40,5.43
22,nyc,11,rainfall,-0.00,9.08,1.91,4.89,2.21,4.03,4.03
23,nyc,12,rainfall,0.03,-51.22,1.80,5.83,2.42,4.88,4.90

# Linear regression model NYC snowfall vs. Year

In [10]:
# Looping through the months for NYC, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating empty list to hold the outputs of our model
total_snowfall_model_outputs = []

# Iterating through the months
for i in range(1,13):
    # Splitting out the weather for NYC for each month
    city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

    # Preparing the data for Scikit-learn library
    X = city_month_weather_df.year.values.reshape(-1,1)

    # Assigning the target variable
    y = city_month_weather_df.avg_total_snowfall_inches

    # Creating the model from the class
    model = LinearRegression()

    # Splitting the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    # Training the model
    model.fit(X_train, y_train)

    # Generating the predictions
    y_pred = model.predict(X_test)

    # Evaluating the performance
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

    # Plotting and saving the predictions vs. the datapoints
    plt.scatter(X_train, y_train, color='blue', label='train')
    plt.scatter(X_test, y_test, color='green', label='test')
    plt.plot(X_test, y_pred, color='red', label='predict')
    plt.xlabel('year')
    plt.ylabel('total snowfall (inches)')
    plt.legend()
    plt.title('NYC ' + str(i) + ' total snowfall vs. model')
    plt.savefig('images/snowfall/nyc_'+ str(i) + '_total_snowfall.png')
    # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
    plt.clf()

    # Viewing our coefficient and intercept
    #print(model.coef_)
    #print(model.intercept_)
    #print(f'{city} month = {i}')
    #print('---')

    # Adding the values to the list
    total_snowfall_model_outputs.append({
        'city': city,
        'month_num': i,
        'weather_factor': 'snowfall',
        'coef': model.coef_[0],
        'intercept': model.intercept_,
        'mae': mae,
        'mse': mse,
        'rmse': rmse
    })

# Creating a DataFrame from our results
total_snowfall_model_df = pd.DataFrame(total_snowfall_model_outputs)

# Adding the predictions to the high temp DataFrame
total_snowfall_model_df['2022_prediction_inches'] = (2022 * total_snowfall_model_df['coef']) + total_snowfall_model_df['intercept']
total_snowfall_model_df['2023_prediction_inches'] = (2023 * total_snowfall_model_df['coef']) + total_snowfall_model_df['intercept']

# Formatting the columns
total_snowfall_model_df['coef'] = total_snowfall_model_df['coef'].map('{:.2f}'.format)
total_snowfall_model_df['intercept'] = total_snowfall_model_df['intercept'].map('{:.2f}'.format)
total_snowfall_model_df['mae'] = total_snowfall_model_df['mae'].map('{:.2f}'.format)
total_snowfall_model_df['mse'] = total_snowfall_model_df['mse'].map('{:.2f}'.format)
total_snowfall_model_df['rmse'] = total_snowfall_model_df['rmse'].map('{:.2f}'.format)
total_snowfall_model_df['2022_prediction_inches'] = total_snowfall_model_df['2022_prediction_inches'].map('{:.2f}'.format)
total_snowfall_model_df['2023_prediction_inches'] = total_snowfall_model_df['2023_prediction_inches'].map('{:.2f}'.format)

# Displaying the updated DataFrame
total_snowfall_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,rmse,2022_prediction_inches,2023_prediction_inches
0,nyc,1,snowfall,0.02,-27.96,7.33,88.10,9.39,8.13,8.14
1,nyc,2,snowfall,0.07,-120.94,5.15,37.24,6.10,11.55,11.61
2,nyc,3,snowfall,-0.02,42.75,3.87,27.79,5.27,3.86,3.84
3,nyc,4,snowfall,0.00,-0.73,0.86,4.59,2.14,0.44,0.44
4,nyc,5,snowfall,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,nyc,6,snowfall,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,nyc,7,snowfall,-0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,nyc,8,snowfall,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,nyc,9,snowfall,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,nyc,10,snowfall,0.00,-4.43,0.05,0.00,0.06,0.14,0.15
10,nyc,11,snowfall,-0.00,9.24,0.99,3.46,1.86,0.15,0.14
11,nyc,12,snowfall,-0.01,18.28,3.87,24.20,4.92,4.52,4.51

# Linear regression model London sunshine hours vs. Year

In [11]:
# Looping through the months for London, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating empty list to hold the outputs of our model
total_sunshine_model_outputs = []

# Iterating through the months
for i in range(1,13):
    # Splitting out the weather for London for each month
    city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]

    # Preparing the data for Scikit-learn library
    X = city_month_weather_df.year.values.reshape(-1,1)

    # Assigning the target variable
    y = city_month_weather_df.total_sunshine_duration_hours

    # Creating the model from the class
    model = LinearRegression()

    # Splitting the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    # Training the model
    model.fit(X_train, y_train)

    # Generating the predictions
    y_pred = model.predict(X_test)

    # Evaluating the performance
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

    # Plotting and saving the predictions vs. the datapoints
    plt.scatter(X_train, y_train, color='blue', label='train')
    plt.scatter(X_test, y_test, color='green', label='test')
    plt.plot(X_test, y_pred, color='red', label='predict')
    plt.xlabel('year')
    plt.ylabel('total sunshine (hours)')
    plt.legend()
    plt.title('London ' + str(i) + ' total sunshine vs. model')
    plt.savefig('images/sunshine/london_'+ str(i) + '_total_sunshine.png')
    # Clearing figure after saving with syntax found here:  https://www.tutorialspoint.com/how-to-clear-the-memory-completely-of-all-matplotlib-plots
    plt.clf()

    # Viewing our coefficient and intercept
    #print(model.coef_)
    #print(model.intercept_)
    #print(f'{city} month = {i}')
    #print('---')

    # Adding the values to the list
    total_sunshine_model_outputs.append({
        'city': city,
        'month_num': i,
        'weather_factor': 'sunshine',
        'coef': model.coef_[0],
        'intercept': model.intercept_,
        'mae': mae,
        'mse': mse,
        'rmse': rmse
    })

# Creating a DataFrame from our results
total_sunshine_model_df = pd.DataFrame(total_sunshine_model_outputs)

# Adding the predictions to the high temp DataFrame
total_sunshine_model_df['2022_prediction_inches'] = (2022 * total_sunshine_model_df['coef']) + total_sunshine_model_df['intercept']
total_sunshine_model_df['2023_prediction_inches'] = (2023 * total_sunshine_model_df['coef']) + total_sunshine_model_df['intercept']

# Formatting the columns
total_sunshine_model_df['coef'] = total_sunshine_model_df['coef'].map('{:.2f}'.format)
total_sunshine_model_df['intercept'] = total_sunshine_model_df['intercept'].map('{:.2f}'.format)
total_sunshine_model_df['mae'] = total_sunshine_model_df['mae'].map('{:.2f}'.format)
total_sunshine_model_df['mse'] = total_sunshine_model_df['mse'].map('{:.2f}'.format)
total_sunshine_model_df['rmse'] = total_sunshine_model_df['rmse'].map('{:.2f}'.format)
total_sunshine_model_df['2022_prediction_inches'] = total_sunshine_model_df['2022_prediction_inches'].map('{:.2f}'.format)
total_sunshine_model_df['2023_prediction_inches'] = total_sunshine_model_df['2023_prediction_inches'].map('{:.2f}'.format)

# Displaying the updated DataFrame
total_sunshine_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,rmse,2022_prediction_inches,2023_prediction_inches
0,nyc,1,sunshine,0.09,-127.20,15.28,342.06,18.49,56.84,56.93
1,nyc,2,sunshine,0.40,-729.79,21.03,598.12,24.46,82.69,83.09
2,nyc,3,sunshine,0.19,-267.42,23.35,1012.99,31.83,118.02,118.22
3,nyc,4,sunshine,0.84,-1507.46,21.51,804.19,28.36,186.47,187.31
4,nyc,5,sunshine,-0.09,372.21,32.25,1815.63,42.61,192.13,192.04
5,nyc,6,sunshine,-0.44,1080.58,39.34,1959.02,44.26,182.02,181.58
6,nyc,7,sunshine,0.10,-2.93,38.02,1840.52,42.90,204.15,204.25
7,nyc,8,sunshine,-0.50,1186.62,46.21,3062.60,55.34,166.15,165.64
8,nyc,9,sunshine,0.08,-18.68,26.69,930.78,30.51,148.07,148.16
9,nyc,10,sunshine,-0.12,335.47,16.60,437.10,20.91,102.68,102.57
10,nyc,11,sunshine,0.16,-253.92,21.13,520.82,22.82,74.04,74.20
11,nyc,12,sunshine,0.23,-410.12,8.89,128.95,11.36,56.88,57.11