In [1]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from getpass import getpass
import numpy as np

In [2]:
# Loading the weather data from the databases
# Reading the data from our database
# Debugging with syntax from here:  https://stackoverflow.com/questions/23839656/sqlalchemy-no-password-supplied-error
password = getpass('Enter database password')
london_weather_df = pd.read_sql_table('london_weather_yyyy_mm', 
                                      f'postgresql://postgres:{password}@localhost/Final_Project_Travel')
nyc_weather_df = pd.read_sql_table('nyc_weather_yyyy_mm',
                                  f'postgresql://postgres:{password}@localhost/Final_Project_Travel')

Enter database password········

In [3]:
# Dropping the index columns
london_weather_df = london_weather_df.drop(columns=['index'], axis=1)
nyc_weather_df = nyc_weather_df.drop(columns=['index'], axis=1)

# Linear regression model avg high temp vs. year

In [4]:
# Looping through the months for both cities, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating cities list
cities = ['london', 'nyc']

# Creating empty list to hold the outputs of our model
high_temp_model_outputs = []

# Looping through each city
for city in cities:
    # Iterating through the months
    for i in range(1,13):
        # Splitting out the weather for that city and that month
        if city == 'london':
            city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]
        else:
            city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

        # Preparing the data for Scikit-learn library
        X = city_month_weather_df.year.values.reshape(-1,1)

        # Assigning the target variable
        y = city_month_weather_df.avg_high_temp_f

        # Creating the model from the class
        model = LinearRegression()
        
        # Splitting the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y)

        # Training the model
        model.fit(X_train, y_train)

        # Generating the predictions
        y_pred = model.predict(X_test)
        
        # Evaluating the performance
        mae = metrics.mean_absolute_error(y_test, y_pred)
        mse = metrics.mean_squared_error(y_test, y_pred)

        # Adding the values to the list
        high_temp_model_outputs.append({
            'city': city,
            'month_num': i,
            'weather_factor': 'high_temp',
            'coef': model.coef_[0],
            'intercept': model.intercept_,
            'mae': mae,
            'mse': mse,
        })

# Creating a DataFrame from our results
high_temp_model_df = pd.DataFrame(high_temp_model_outputs)

# Adding the predictions to the high temp DataFrame
high_temp_model_df['2022_prediction_F'] = (2022 * high_temp_model_df['coef']) + high_temp_model_df['intercept']

In [5]:
# Displaying DataFrame to show our MSE metric
high_temp_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,2022_prediction_F
0,london,1,high_temp,0.067505,-88.744838,2.998855,12.535805,47.750639
1,london,2,high_temp,0.069117,-89.976006,3.173676,17.391683,49.778164
2,london,3,high_temp,0.052064,-51.943231,2.423473,9.148966,53.330209
3,london,4,high_temp,0.068681,-79.723287,2.277885,9.008660,59.148842
4,london,5,high_temp,0.066604,-68.704837,2.333137,8.635110,65.968602
5,london,6,high_temp,0.034909,0.460828,2.222585,6.789143,71.047670
6,london,7,high_temp,0.080702,-86.627829,1.930613,6.013644,76.552107
7,london,8,high_temp,0.079058,-84.398037,2.134507,8.730177,75.457195
8,london,9,high_temp,0.042275,-16.685377,1.491130,3.632543,68.795432
9,london,10,high_temp,0.026755,6.938718,2.327617,8.860202,61.037770
10,london,11,high_temp,0.039624,-26.916589,1.632852,3.450888,53.202653
11,london,12,high_temp,0.073805,-99.321988,2.252733,11.122041,49.911219
12,nyc,1,high_temp,0.015950,7.135898,3.645655,22.399495,39.387325
13,nyc,2,high_temp,0.034767,-27.589909,2.787127,13.238902,42.708183
14,nyc,3,high_temp,0.047712,-45.470335,2.286308,8.348668,51.003190
15,nyc,4,high_temp,0.028662,4.486813,2.207835,6.779927,62.442330
16,nyc,5,high_temp,0.010024,51.606518,2.813137,10.859653,71.874714
17,nyc,6,high_temp,-0.025235,130.285779,2.368248,8.476679,79.261374
18,nyc,7,high_temp,-0.012468,110.184756,1.735699,4.352951,84.974366
19,nyc,8,high_temp,0.001901,79.802577,1.356201,2.594589,83.645756
20,nyc,9,high_temp,0.023699,28.891719,2.398402,8.670594,76.811935
21,nyc,10,high_temp,-0.049112,162.604574,2.997956,12.710371,63.299780
22,nyc,11,high_temp,-0.007238,68.344464,2.702136,10.468931,53.709490
23,nyc,12,high_temp,0.060507,-76.797748,3.342602,15.031433,45.547408

# Linear regression model total precip/rainfall vs. year

In [6]:
# Looping through the months for both cities, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating cities list
cities = ['london', 'nyc']

# Creating empty list to hold the outputs of our model
total_rainfall_model_outputs = []

# Looping through each city
for city in cities:
    # Iterating through the months
    for i in range(1,13):
        # Splitting out the weather for that city and that month
        if city == 'london':
            city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]
        else:
            city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

        # Preparing the data for Scikit-learn library
        X = city_month_weather_df.year.values.reshape(-1,1)

        # Assigning the target variable
        if city == 'london':
            y = city_month_weather_df.total_rainfall_inches
        else:
            y = city_month_weather_df.avg_total_precipitation_inches

        # Creating the model from the class
        model = LinearRegression()
        
        # Splitting the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y)

        # Training the model
        model.fit(X_train, y_train)

        # Generating the predictions
        y_pred = model.predict(X_test)
        
        # Evaluating the performance
        mae = metrics.mean_absolute_error(y_test, y_pred)
        mse = metrics.mean_squared_error(y_test, y_pred)

        # Adding the values to the list
        total_rainfall_model_outputs.append({
            'city': city,
            'month_num': i,
            'weather_factor': 'rainfall',
            'coef': model.coef_[0],
            'intercept': model.intercept_,
            'mae': mae,
            'mse': mse,
        })
        
# Creating a DataFrame from our results
total_rainfall_model_df = pd.DataFrame(total_rainfall_model_outputs)

# Adding the predictions to the high temp DataFrame
total_rainfall_model_df['2022_prediction_inches'] = (2022 * total_rainfall_model_df['coef']) + total_rainfall_model_df['intercept']

In [7]:
# Displaying DataFrame to show our MSE metric
total_rainfall_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,2022_prediction_inches
0,london,1,rainfall,0.007181,-12.159467,0.983195,1.922164,2.361025
1,london,2,rainfall,0.011808,-21.916622,0.871802,1.032837,1.958551
2,london,3,rainfall,-0.001676,5.040569,0.728926,0.810522,1.651413
3,london,4,rainfall,-0.004029,9.473160,0.991307,1.655337,1.326212
4,london,5,rainfall,0.001683,-1.582200,0.834093,0.959872,1.821640
5,london,6,rainfall,0.006547,-11.179677,1.231624,2.376069,2.057894
6,london,7,rainfall,-0.011391,24.545868,0.781323,0.782181,1.513101
7,london,8,rainfall,-0.002758,7.450236,0.888150,1.929823,1.873252
8,london,9,rainfall,-0.009975,21.865714,0.880483,1.268135,1.695951
9,london,10,rainfall,-0.005492,13.447140,1.189186,2.199683,2.343093
10,london,11,rainfall,0.001591,-0.733125,1.043127,1.752704,2.483368
11,london,12,rainfall,0.004402,-6.502889,0.764805,1.115773,2.398209
12,nyc,1,rainfall,0.009945,-16.272709,1.701802,5.092674,3.835418
13,nyc,2,rainfall,0.005072,-6.920736,1.201340,2.027648,3.334747
14,nyc,3,rainfall,0.003661,-3.108346,1.645533,4.696848,4.293614
15,nyc,4,rainfall,0.018709,-33.114094,2.056883,8.344976,4.715989
16,nyc,5,rainfall,0.020816,-37.234245,1.859139,5.844581,4.855255
17,nyc,6,rainfall,0.027762,-51.346520,1.732168,5.942950,4.787954
18,nyc,7,rainfall,0.028068,-51.341003,1.938333,6.518720,5.412014
19,nyc,8,rainfall,0.011134,-17.934555,3.161506,20.674747,4.578724
20,nyc,9,rainfall,0.034587,-64.842070,2.017369,5.459367,5.093405
21,nyc,10,rainfall,0.028558,-53.151365,2.114951,11.871983,4.593514
22,nyc,11,rainfall,-0.007590,19.087630,1.457228,3.382991,3.740833
23,nyc,12,rainfall,0.016220,-28.091191,1.521338,3.085299,4.706047

# Linear regression model NYC snowfall vs. Year

In [8]:
# Looping through the months for NYC, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating empty list to hold the outputs of our model
total_snowfall_model_outputs = []

# Iterating through the months
for i in range(1,13):
    # Splitting out the weather for NYC for each month
    city_month_weather_df = nyc_weather_df.loc[(nyc_weather_df['month_num'] == i)]

    # Preparing the data for Scikit-learn library
    X = city_month_weather_df.year.values.reshape(-1,1)

    # Assigning the target variable
    y = city_month_weather_df.avg_total_snowfall_inches

    # Creating the model from the class
    model = LinearRegression()

    # Splitting the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    # Training the model
    model.fit(X_train, y_train)

    # Generating the predictions
    y_pred = model.predict(X_test)

    # Evaluating the performance
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)

    # Adding the values to the list
    total_snowfall_model_outputs.append({
        'city': 'NYC',
        'month_num': i,
        'weather_factor': 'snowfall',
        'coef': model.coef_[0],
        'intercept': model.intercept_,
        'mae': mae,
        'mse': mse,
    })

# Creating a DataFrame from our results
total_snowfall_model_df = pd.DataFrame(total_snowfall_model_outputs)

# Adding the predictions to the high temp DataFrame
total_snowfall_model_df['2022_prediction_inches'] = (2022 * total_snowfall_model_df['coef']) + total_snowfall_model_df['intercept']

In [9]:
# Displaying DataFrame to show our MSE metric
total_snowfall_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,2022_prediction_inches
0,NYC,1,snowfall,0.038237,-68.218794,5.021057,42.700508,9.096589
1,NYC,2,snowfall,0.057477,-106.226268,8.117889,91.914036,9.991747
2,NYC,3,snowfall,0.004453,-4.069417,3.061288,17.661349,4.933643
3,NYC,4,snowfall,-0.001390,3.303691,0.557270,0.429806,0.493143
4,NYC,5,snowfall,0.000000,0.000000,0.000000,0.000000,0.000000
5,NYC,6,snowfall,-0.000000,0.000000,0.000000,0.000000,0.000000
6,NYC,7,snowfall,-0.000000,0.000000,0.000000,0.000000,0.000000
7,NYC,8,snowfall,-0.000000,0.000000,0.000000,0.000000,0.000000
8,NYC,9,snowfall,-0.000000,0.000000,0.000000,0.000000,0.000000
9,NYC,10,snowfall,0.002747,-5.381885,0.086099,0.009783,0.173316
10,NYC,11,snowfall,0.007220,-13.916265,0.722303,1.546567,0.683360
11,NYC,12,snowfall,0.009552,-13.838468,3.806657,21.595375,5.474936

# Linear regression model London sunshine hours vs. Year

In [10]:
# Looping through the months for London, splitting into training and testing data, and evaluating each model
# Learned about evaluating and syntax on evaluating linear regression from here:  https://towardsdatascience.com/linear-regression-in-python-9a1f5f000606

# Creating empty list to hold the outputs of our model
total_sunshine_model_outputs = []

# Iterating through the months
for i in range(1,13):
    # Splitting out the weather for London for each month
    city_month_weather_df = london_weather_df.loc[(london_weather_df['month_num'] == i)]

    # Preparing the data for Scikit-learn library
    X = city_month_weather_df.year.values.reshape(-1,1)

    # Assigning the target variable
    y = city_month_weather_df.total_sunshine_duration_hours

    # Creating the model from the class
    model = LinearRegression()

    # Splitting the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y)

    # Training the model
    model.fit(X_train, y_train)

    # Generating the predictions
    y_pred = model.predict(X_test)

    # Evaluating the performance
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)

    # Adding the values to the list
    total_sunshine_model_outputs.append({
        'city': 'London',
        'month_num': i,
        'weather_factor': 'sunshine',
        'coef': model.coef_[0],
        'intercept': model.intercept_,
        'mae': mae,
        'mse': mse,
    })

# Creating a DataFrame from our results
total_sunshine_model_df = pd.DataFrame(total_sunshine_model_outputs)

# Adding the predictions to the high temp DataFrame
total_sunshine_model_df['2022_prediction_hours'] = (2022 * total_sunshine_model_df['coef']) + total_sunshine_model_df['intercept']

In [11]:
# Displaying DataFrame to show our MSE metric
total_sunshine_model_df

,city,month_num,weather_factor,coef,intercept,mae,mse,2022_prediction_hours
0,London,1,sunshine,0.201015,-343.603341,13.219986,256.001299,62.848450
1,London,2,sunshine,0.399740,-723.824736,14.557809,290.161692,84.450257
2,London,3,sunshine,0.282568,-448.285045,23.986701,949.672069,123.068044
3,London,4,sunshine,0.765062,-1364.782997,23.147160,998.929147,182.172962
4,London,5,sunshine,0.064206,70.576060,25.509612,950.872573,200.399651
5,London,6,sunshine,-0.437002,1065.891038,41.575789,2249.005041,182.273121
6,London,7,sunshine,0.048332,98.825304,42.213853,2188.961521,196.553157
7,London,8,sunshine,0.084287,19.234038,31.922439,1622.404959,189.662456
8,London,9,sunshine,-0.031898,211.992193,26.701725,977.829936,147.495168
9,London,10,sunshine,0.004606,96.692194,22.970580,736.808130,106.006204
10,London,11,sunshine,0.056373,-44.946368,15.344197,344.076335,69.039625
11,London,12,sunshine,0.173755,-296.630341,9.768126,162.520409,54.701511

# Combining models into prediction outputs

In [12]:
# Creating a DataFrame to hold the predicted ranges
predictions_df = high_temp_model_df[['city', 'month_num', '2022_prediction_F']]

In [13]:
# High Temp Predictions
# Adding columns to hold the prediction ranges
predictions_df['min_pred_2022_F'] = (predictions_df['2022_prediction_F'] - high_temp_model_df['mae'])
predictions_df['max_pred_2022_F'] = (predictions_df['2022_prediction_F'] + high_temp_model_df['mae'])

# Rounding the min predictions down and the max predictions up
predictions_df['min_pred_2022_F'] = np.floor(predictions_df['min_pred_2022_F'])
predictions_df['max_pred_2022_F'] = np.ceil(predictions_df['max_pred_2022_F'])

# Formatting the columns
predictions_df['min_pred_2022_F'] = predictions_df['min_pred_2022_F'].map('{:.0f}'.format)
predictions_df['max_pred_2022_F'] = predictions_df['max_pred_2022_F'].map('{:.0f}'.format)

# Concatenating into prediction columns
predictions_df['Predicted avg high temp (F)'] = (predictions_df['min_pred_2022_F'] + '-' 
                                                      + predictions_df['max_pred_2022_F'])

# Dropping the unneeded columns
predictions_df = predictions_df.drop(columns=['2022_prediction_F', 'min_pred_2022_F', 'max_pred_2022_F'], 
                                     axis=1)

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [14]:
# Total precip predictions

# Adding columns to hold the prediction ranges
predictions_df['min_precip_2022'] = (total_rainfall_model_df['2022_prediction_inches'] - total_rainfall_model_df['mae'])
predictions_df['max_precip_2022'] = (total_rainfall_model_df['2022_prediction_inches'] + total_rainfall_model_df['mae'])

# # Rounding the predictions
predictions_df['min_precip_2022'] = predictions_df['min_precip_2022'].round(1)
predictions_df['max_precip_2022'] = predictions_df['max_precip_2022'].round(1)

# # Concatenating into prediction columns
# Debugging by adapting code found here:  https://stackoverflow.com/questions/44527956/python-ufunc-add-did-not-contain-a-loop-with-signature-matching-types-dtype
predictions_df['Predicted total rainfall (inches)'] = (predictions_df['min_precip_2022'].apply(str) + '-' 
                                                            + predictions_df['max_precip_2022'].apply(str))

# # Dropping the unneeded columns
predictions_df = predictions_df.drop(columns=['min_precip_2022', 'max_precip_2022'], axis=1)

In [15]:
# Separating prediction DF by city
london_predictions_df = predictions_df.loc[(predictions_df['city'] == 'london')]
nyc_predictions_df = predictions_df.loc[(predictions_df['city'] == 'nyc')]

In [16]:
# Debugging error creating nyc snowfall predictions with workaround
min_snow_2022 = total_snowfall_model_df['2022_prediction_inches'] - total_snowfall_model_df['mae']
max_snow_2022 = total_snowfall_model_df['2022_prediction_inches'] + total_snowfall_model_df['mae']

In [17]:
# Total snowfall

# Adding columns to hold the prediction ranges
nyc_predictions_df['min_snow_2022'] = min_snow_2022.tolist()
nyc_predictions_df['max_snow_2022'] = max_snow_2022.tolist()

# Replacing negative numbers in min snow columns with 0
# Adapting code to replace negative numbers with 0, found here:  https://stackoverflow.com/questions/49681363/replace-negative-values-in-single-dataframe-column
nyc_predictions_df['min_snow_2022'][nyc_predictions_df['min_snow_2022'] < 0] = 0

# Rounding the predictions to the nearest tenth
nyc_predictions_df['min_snow_2022'] = nyc_predictions_df['min_snow_2022'].round(1) 
nyc_predictions_df['max_snow_2022'] = nyc_predictions_df['max_snow_2022'].round(1)  

# Concatenating into prediction columns
# Debugging by adapting code found here:  https://stackoverflow.com/questions/44527956/python-ufunc-add-did-not-contain-a-loop-with-signature-matching-types-dtype
nyc_predictions_df['Predicted total snowfall (inches)'] = (nyc_predictions_df['min_snow_2022'].apply(str) + '-'
                                                               + nyc_predictions_df['max_snow_2022'].apply(str))

# Dropping the unneeded columns
nyc_predictions_df = nyc_predictions_df.drop(columns=['min_snow_2022', 'max_snow_2022'])

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
# Creating the month_dict
month_dict = {1: 'Jan',
             2: 'Feb',
             3: 'Mar',
             4: 'Apr',
             5: 'May',
             6: 'Jun',
             7: 'Jul',
             8: 'Aug',
             9: 'Sep',
             10: 'Oct',
             11: 'Nov',
             12: 'Dec'}

In [19]:
# Adding the month name to the DataFrame
nyc_predictions_df['Month'] = nyc_predictions_df['month_num'].apply(lambda x:month_dict[x])

# Dropping the month num column
nyc_predictions_df = nyc_predictions_df.drop(columns=['month_num'], axis=1)

# Rearranging the columns
nyc_predictions_df = nyc_predictions_df[['Month', 'Predicted avg high temp (F)',
                                        'Predicted total rainfall (inches)', 
                                        'Predicted total snowfall (inches)']]

# Displaying the updated DataFrame
nyc_predictions_df

,Month,Predicted avg high temp (F),Predicted total rainfall (inches),Predicted total snowfall (inches)
12,Jan,35-44,2.1-5.5,4.1-14.1
13,Feb,39-46,2.1-4.5,1.9-18.1
14,Mar,48-54,2.6-5.9,1.9-8.0
15,Apr,60-65,2.7-6.8,0.0-1.1
16,May,69-75,3.0-6.7,0.0-0.0
17,Jun,76-82,3.1-6.5,0.0-0.0
18,Jul,83-87,3.5-7.4,0.0-0.0
19,Aug,82-86,1.4-7.7,0.0-0.0
20,Sep,74-80,3.1-7.1,0.0-0.0
21,Oct,60-67,2.5-6.7,0.1-0.3
22,Nov,51-57,2.3-5.2,0.0-1.4
23,Dec,42-49,3.2-6.2,1.7-9.3

In [20]:
# Total sunshine

# Adding the prediction ranges
london_predictions_df['min_sun_2022'] = (total_sunshine_model_df['2022_prediction_hours'] - total_sunshine_model_df['mae'])
london_predictions_df['max_sun_2022'] = (total_sunshine_model_df['2022_prediction_hours'] + total_sunshine_model_df['mae'])

# Rounding the min predictions down and the max predictions up
london_predictions_df['min_sun_2022'] = np.floor(london_predictions_df['min_sun_2022'])
london_predictions_df['max_sun_2022'] = np.ceil(london_predictions_df['max_sun_2022'])

# Formatting the columns
london_predictions_df['min_sun_2022'] = london_predictions_df['min_sun_2022'].map('{:.0f}'.format)
london_predictions_df['max_sun_2022'] = london_predictions_df['max_sun_2022'].map('{:.0f}'.format)

# Concatenating the predictions
london_predictions_df['Predicted total sunshine (hours)'] = (london_predictions_df['min_sun_2022'].apply(str) + '-' 
                                                            + london_predictions_df['max_sun_2022'].apply(str))

# Dropping the unneeded columns
london_predictions_df = london_predictions_df.drop(columns=['min_sun_2022', 'max_sun_2022'], axis=1)

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
# Adding month name to the DataFrame
london_predictions_df['Month'] = london_predictions_df['month_num'].apply(lambda x:month_dict[x])

# Dropping the unneeded columns
london_predictions_df.drop(columns=['city', 'month_num'], axis=1)

# Rearranging the columns
london_predictions_df = london_predictions_df[['Month', 'Predicted avg high temp (F)', 
                                             'Predicted total rainfall (inches)',
                                             'Predicted total sunshine (hours)']]

# Displaying the updated DataFrame
london_predictions_df

,Month,Predicted avg high temp (F),Predicted total rainfall (inches),Predicted total sunshine (hours)
0,Jan,44-51,1.4-3.3,49-77
1,Feb,46-53,1.1-2.8,69-100
2,Mar,50-56,0.9-2.4,99-148
3,Apr,56-62,0.3-2.3,159-206
4,May,63-69,1.0-2.7,174-226
5,Jun,68-74,0.8-3.3,140-224
6,Jul,74-79,0.7-2.3,154-239
7,Aug,73-78,1.0-2.8,157-222
8,Sep,67-71,0.8-2.6,120-175
9,Oct,58-64,1.2-3.5,83-129
10,Nov,51-55,1.4-3.5,53-85
11,Dec,47-53,1.6-3.2,44-65

In [22]:
# Saving the Predictions DataFrames as CSVs
nyc_predictions_df.to_csv('Output/nyc_predictions_final.csv', index=False)
london_predictions_df.to_csv('Output/london_predictions_final.csv', index=False)